<script setup lang="ts">

import {useTerminologyStore} from "@/store/terminologyStore";
import {onMounted, watch} from "vue";
import {useRoute} from "vue-router";
import {storeToRefs} from 'pinia'
import {useAppStore} from "@/store/appStore";
import {MySortItem, MyTableHeader} from "@/model/appModels";

const terminologyStore = useTerminologyStore()
const {isCodeSetMappedToLocal, isCodeSetMappedToStandard, isCodeSetNotMapped, getCodeSetDefinition} = storeToRefs(terminologyStore)

const route = useRoute()
const appStore = useAppStore()

const fetchData = async (codeSetToFetch: string) => {
  console.log('FETCH DATA ' + codeSetToFetch)
  await terminologyStore.fetchCodeSet(codeSetToFetch)
}

function updateData() {
  fetchData(route.params.bindingCd as string)
}

watch(() => appStore.currentEvaluatorId, updateData)

onMounted(() => {
  console.log('MOUNTING CodeSetBrowser' + route.params.codeSetCd as string)
  terminologyStore.filterCodeSetEhrCodes = 0
  terminologyStore.filterCodeSetStandardCodes = 0
  terminologyStore.filterCodeSetNotMappedCodes = 0
  fetchData(route.params.codeSetCd as string)
})

const groupBy: MySortItem[] = [
  {
    key: 'codeSetBindingCode',
    order: 'asc',
  },
]

const headers: MyTableHeader[] = [
  {
    title: 'Code System',
    key: 'codeSystem',
    align: 'start',
    sortable: true,
  },
  {
    title: 'Code Label',
    key: 'codeLabel'
  },
  {
    title: 'Code',
    key: 'code'
  },
]

</script>

<template>

  <v-container
      class="my-main-content-container"
  >

    <v-row justify="center">
      <!-- <v-col cols="12" sm="10" md="9" lg="8" xl="7"> -->
      <v-col
          cols="12"
      >
        <!-- Adjust the width of the v-toolbar using CSS -->
        <v-toolbar>
          <v-icon class="ml-4">mdi-file-tree</v-icon>
          <div
              class="ml-4"
              style="max-width: 70%; font-size: 1.25em;"
          >
            <v-tooltip>
              <template v-slot:activator="{props}">
                <span class="text-blue"
                      v-bind="props"
                >
                  {{ terminologyStore.codeSetBindingFilter }}
                </span>
              </template>
              <span>{{ terminologyStore.getCodeSetDefinition(terminologyStore.codeSetBindingFilter) }}</span>
            </v-tooltip>
          </div>

          <v-spacer/>

          <span class="text-grey text-sm-body-2 mr-2">Filters:</span>
          <v-icon
              class="mr-2"
              :class="terminologyStore.filterCodeSetEhrCodes === 1 ? 'text-grey' : 'text-green-accent-1'"
              @click="terminologyStore.toggleCodeSetEhrFilter"
          >
            mdi-alpha-e-circle-outline
          </v-icon>

          <v-icon
              class="mr-2"
              :class="terminologyStore.filterCodeSetStandardCodes === 1 ? 'text-grey' : 'text-blue-accent-1'"
              @click="terminologyStore.toggleCodeSetStandardFilter"
          >
            mdi-alpha-s-circle-outline
          </v-icon>

          <v-icon
              class="mr-2"
              :class="terminologyStore.filterCodeSetNotMappedCodes === 1 ? 'text-grey' : 'text-red-accent-1'"
              @click="terminologyStore.toggleCodeSetNotMappedFilter"
          >
            mdi-alert-outline
          </v-icon>

          <v-select
              v-model="terminologyStore.codeSetBindingFilter"
              class="mr-2"
              style="max-width: 30%;"
              :items="terminologyStore.codeSetDefinitions"
              item-title="codeSetBinding"
              item-value="codeSetBinding"
              label="Code Sets"
          />

        </v-toolbar>
      </v-col>
    </v-row>

    <v-data-table
        class=""
        :headers="headers"
        :items="terminologyStore.getFilteredCodeSetMembers"
        :group-by="groupBy"
        item-key="gid"
        items-per-page="-1"
        item-value="codeSetBindingCode"
    >
      <template v-slot:group-header="{ item, columns, toggleGroup, isGroupOpen }">
        <tr>
          <td :colspan="columns.length">
            <VBtn
                size="small"
                variant="text"
                :icon="isGroupOpen(item) ? '$expand' : '$next'"
                @click="toggleGroup(item)"
            ></VBtn>

            <v-icon
                v-if="isCodeSetMappedToLocal(item.value) && terminologyStore.filterCodeSetEhrCodes === 0"
                class="text-green-accent-1 mr-2"
            >mdi-alpha-e-circle-outline
            </v-icon>

            <v-icon
                v-if="isCodeSetMappedToStandard(item.value) && terminologyStore.filterCodeSetStandardCodes === 0"
                class="text-blue-accent-1 mr-2"
            >mdi-alpha-s-circle-outline
            </v-icon>

            <v-icon
                v-if="isCodeSetNotMapped(item.value) && terminologyStore.filterCodeSetNotMappedCodes === 0"
                class="text-red-accent-1 mr-2"
            >mdi-alert-outline
            </v-icon>
            <span v-else class="mr-8"></span>

            <v-tooltip>
              <template v-slot:activator="{props}">
                <span
                      v-bind="props"
                >
                  {{ item.value }}
                </span>
              </template>
              <span>{{ terminologyStore.getCodeSetDefinition(item.value) }}</span>
            </v-tooltip>

          </td>
        </tr>
      </template>

      <template v-slot:item.codeSystem="{ item }">

        <v-icon v-if="item.isMappedToLocal === 1" class="text-green-accent-1 mr-1">mdi-alpha-e-circle-outline</v-icon>
        <v-icon v-else-if="item.isNotMapped === 1" class="text-red-accent-1 mr-1">mdi-alert-outline</v-icon>
        <v-icon v-else-if="item.isMappedToStandard === 1" class="text-blue-accent-1 mr-1">mdi-alpha-s-circle-outline
        </v-icon>

        <!--        {{ item.isMappedToLocal }}:{{ item.isMappedToStandard }}:{{ item.isNotMapped }}-->
        {{ item.bindingCode }}: {{ item.codeSystem }}

      </template>
    </v-data-table>

  </v-container>

</template>
