<script setup lang="ts">

import {useTerminologyStore} from "@/store/terminologyStore";
import {onMounted, ref, watch} from "vue";
import {useRoute} from "vue-router";
import {storeToRefs} from 'pinia'
import {useAppStore} from "@/store/appStore";
import {MySortItem, MyTableHeader} from "@/model/appModels";

const terminologyStore = useTerminologyStore()
const { isMappedToLocal, isMappedToStandard, isNotMapped} = storeToRefs(terminologyStore)
const route = useRoute()
const appStore = useAppStore()
const showLineNumbers = ref(false)

const fetchData = async (codeSetToFetch: string) => {
  console.log('FETCH CODES ' + codeSetToFetch)

  terminologyStore.bindingCodeMapFilter = codeSetToFetch
  await terminologyStore.fetchCodeMappings(codeSetToFetch)
}

function updateData() {
  fetchData(route.params.bindingCd as string)
}

watch(() => appStore.currentEvaluatorId, updateData)

onMounted(() => {
  console.log('MOUNTING CodeSetBrowser' + route.params.bindingCd as string)
  fetchData(route.params.bindingCd as string)
})


const groupBy: MySortItem[] = [
  {
    key: 'bindingCode',
    order: 'asc',
  },
]

const headers: MyTableHeader[] = [
  {
    title: 'Code System',
    align: 'start',
    sortable: true,
    key: 'codeSystem',
  },
  {
    title: 'Code Label',
    key: 'codeLabel'
  },
  {
    title: 'Code'
    , key: 'code'
  },
]

</script>

<template>

  <v-container
      class="my-main-content-container"
  >

    <v-row justify="center">
      <!-- <v-col cols="12" sm="10" md="9" lg="8" xl="7"> -->
      <v-col
          cols="12"
      >
        <!-- Adjust the width of the v-toolbar using CSS -->
        <v-toolbar>
          <v-icon class="ml-4">mdi-hand-pointing-right</v-icon>
          <div
              class="ml-4"
              style="max-width: 70%; font-size: 1.25em;"
          >
            <span class="text-blue"> {{ terminologyStore.bindingCodeMapFilter }} </span>
          </div>


          <v-spacer/>

          <span class="text-grey text-sm-body-2 mr-2">Filters:</span>

          <v-icon
              class="mr-2"
              :class="terminologyStore.filterEhrCodes ? 'text-grey' : 'text-green-accent-1'"
              @click="terminologyStore.toggleEhrFilter"
          >
            mdi-alpha-e-circle-outline
          </v-icon>

          <v-icon
              class="mr-2"
              :class="terminologyStore.filterStandardCodes ? 'text-grey' : 'text-blue-accent-1'"
              @click="terminologyStore.toggleStandardFilter"
          >
            mdi-alpha-s-circle-outline
          </v-icon>

          <v-icon
              class="mr-2"
              :class="terminologyStore.filterNotMappedCodes ? 'text-grey' : 'text-red-accent-1'"
              @click="terminologyStore.toggleNotMappedFilter"
          >
            mdi-alert-outline
          </v-icon>

          <v-autocomplete
              class="mr-2"
              v-model="terminologyStore.bindingCodeMapFilter"
              :items="terminologyStore.codeMapDefinitions"
              item-title="codeSetBinding"
              item-value="codeSetBinding"
              label="Codes"
              style="max-width: 30%;"
          />

<!--          @click:prepend="fetchPickedData"-->
<!--          @update:model-value="fetchPickedData"-->

        </v-toolbar>
      </v-col>
    </v-row>

    <v-data-table
        :headers="headers"
        :items="terminologyStore.getFilteredCodeMappings"
        :group-by="groupBy"
        item-key="gid"
        items-per-page="-1"
        item-value="bindingCode"
    >
      <template v-slot:group-header="{ item, columns, toggleGroup, isGroupOpen, index }">
        <tr>
          <td :colspan="columns.length">

            <span v-if="showLineNumbers" class="text-sm-body-1 text-grey-lighten-1">{{ index + 1 }}</span>

            <VBtn
                size="small"
                variant="text"
                :icon="isGroupOpen(item) ? '$expand' : '$next'"
                @click="toggleGroup(item)"
            ></VBtn>

            <v-icon
                v-if="isMappedToLocal(item.value) && terminologyStore.filterEhrCodes === 0"
                class="text-green-accent-1 mr-2"
            >mdi-alpha-e-circle-outline</v-icon>
            <span v-else class="mr-8"></span>

            <v-icon
                v-if="isMappedToStandard(item.value) && terminologyStore.filterStandardCodes === 0"
                class="text-blue-accent-1 mr-2"
            >mdi-alpha-s-circle-outline</v-icon>
            <span v-else class="mr-8"></span>

            <v-icon
                v-if="isNotMapped(item.value) && terminologyStore.filterNotMappedCodes === 0"
                class="text-red-accent-1 mr-2"
            >mdi-alert-outline</v-icon>
            <span v-else class="mr-8"></span>

            {{ item.value }}
          </td>
        </tr>
      </template>

      <template v-slot:item.codeSystem="{ item }">

        <v-icon v-if="item.isMappedToLocal === 1" class="text-green-accent-1 pl-1">mdi-alpha-e-circle-outline</v-icon>
        <v-icon v-else-if="item.isMappedToStandard === 1" class="text-blue-accent-1">mdi-alpha-s-circle-outline</v-icon>
        <v-icon v-else-if="item.isMappedToLocal === 0 && item.isMappedToStandard === 0" class="text-red-accent-1">mdi-alert-outline</v-icon>

        {{ item.codeSystem }}

      </template>
    </v-data-table>

  </v-container>

</template>
