<script lang="ts" setup>
import SystemStatus from "@/components/SystemStatus.vue";
import PopulationEvaluations from "@/components/PopulationEvaluations.vue";
import {useEvaluatorStore} from "@/store/evaluatorStore";

const evaluatorStore = useEvaluatorStore()

</script>

<template>
  <v-container
    class="my-main-content-container"
  >
    <SystemStatus/>

    <PopulationEvaluations/>

  </v-container>
</template>
