<script lang="ts" setup>

import {onMounted, ref} from "vue";
import {useRoute} from "vue-router";
import {useEvaluatorStore} from "@/store/evaluatorStore";
import EvaluatorStates from "@/components/EvaluatorStates.vue";
import EvaluationInstanceSummaryCard from "@/components/EvaluationInstanceSummaryCard.vue";

const route = useRoute()
const evaluatorStore = useEvaluatorStore()
const instanceId = ref('')

function getData() {
  evaluatorStore.fetchEvaluatorInstance(instanceId.value)
}

onMounted( () => {
  instanceId.value = route.params.instanceId as string
  getData()
})

</script>

<template>

  <v-container
      class="my-main-content-container"
  >

<!--    <v-row justify="center">-->
    <v-row>
      <!--      <v-col cols="12" sm="10" md="9" lg="8" xl="7">-->
      <v-col
          cols="12"
          class="pl-0 pr-0 pb-0"
      >
        <v-toolbar
            class="pt-4 pb-4"
        >
          <v-icon class="ml-4">mdi-data-matrix</v-icon>
          <v-toolbar-title>
            <span class="text-blue">EVALUATION TIME: </span> {{evaluatorStore.currentEvaluatorInstance.startTime}}
          </v-toolbar-title>

          <v-toolbar-items class="justify-end">
          <evaluation-instance-summary-card
              class="mr-2"
              style="width: 60%;"
              :showTitle="false"
              :title="evaluatorStore.currentEvaluator.title"
              :instance-id="instanceId"
              :output-type="evaluatorStore.currentEvaluatorInstance.outputType"
              :guideline="evaluatorStore.currentEvaluator.guideline"
              :start-time="evaluatorStore.currentEvaluatorInstance.startTime"
              :completion-time="evaluatorStore.currentEvaluatorInstance.completionTime"
              :results-file="evaluatorStore.currentEvaluatorInstance.resultsFile"
              :show-actions="false"
              :population-size="evaluatorStore.currentEvaluatorInstance.populationSize"
              :people-met-criteria="evaluatorStore.currentEvaluatorInstance.peopleMetCriteria"
          />
          </v-toolbar-items>

        </v-toolbar>

      </v-col>
    </v-row>
    <v-row>
      <v-col
          class="v-col-12 pt-0"
      >

        <evaluator-states
            :instance-id="instanceId"
            :eval-states="evaluatorStore.currentEvaluatorInstance.states"
        />

      </v-col>
    </v-row>
  </v-container>

</template>
