<script lang="ts" setup>
import {useRouter} from 'vue-router';
import {useModal} from "@/composables/modal";
import {useWebSocketStore} from "@/store/webSocketStore";
import {onBeforeUnmount, onMounted, ref, watch} from "vue";
import {EvaluatorInstruction, useEvaluatorStore} from "@/store/evaluatorStore"
import StartEvaluationDialog from "@/components/StartEvaluationDialog.vue";
import EvaluatorStates from "@/components/EvaluatorStates.vue";
import {v4 as uuidv4} from 'uuid';
import {useAppStore} from "@/store/appStore";

const router = useRouter()
const modal = useModal()
const evaluatorStore = useEvaluatorStore()
const webSocketStore = useWebSocketStore()
const appStore = useAppStore()

const instanceId = ref('')
const outputType = ref('')
const page = ref(0)
const pageSize = ref(0)

async function run(demogFile: File, fhxFile: File, ldlObsFile: File | undefined, selectedOutputType: string) {
  console.log("EVALUATE ", demogFile, fhxFile)
  webSocketStore.reset()
  if (!webSocketStore.isWebSocketOpen) {
    await webSocketStore.connect()
  }
  outputType.value = selectedOutputType
  modal.hideModal()
  instanceId.value = uuidv4()

  const inst: EvaluatorInstruction = {
    instanceId: instanceId.value,
    evaluatorId: appStore.currentEvaluatorId,
    outputType: selectedOutputType,
    patientDemographicsFile: demogFile,
    patientFamilyHistoryFile: fhxFile,
    patientLdlObservationsFile: ldlObsFile
  }
  await evaluatorStore.runEvaluation(inst)
}

function updateData() {
  evaluatorStore.fetchEvaluator(appStore.currentEvaluatorId, 0)
  webSocketStore.reset()
}

watch(() => appStore.currentEvaluatorId, updateData)

function viewResults() {
  const resultsPage = '/resultsViewer/' + outputType.value + '/' + instanceId.value
  console.log("ROUTE TO: " + resultsPage)
  router.push(resultsPage)
}

function configClick() {
  console.log("Config click")
  router.push('/evaluatorRules')
}

onMounted(() => {
  appStore.fetchCsdHooksServices()
  evaluatorStore.fetchEvaluator(appStore.currentEvaluatorId, 0)
})

onBeforeUnmount(() => {
  webSocketStore.closeWebSocket()
})

</script>

<template>

  <v-container class="my-main-content-container">

    <v-row justify="center">

      <v-col cols="12">

        <v-container class="ma-0 pa-0 fill-height">

          <v-toolbar>

            <v-row class="fill-height">

              <v-col cols="10" class="d-flex align-center">
                <v-icon v-if="appStore.isReadyToRun" class="ml-4 mySuccessColor">mdi-check-circle-outline</v-icon>
                <v-icon v-else class="ml-4 myErrorColor">mdi-alpha-x-circle-outline</v-icon>
                <v-toolbar-title class="ml-2">{{ evaluatorStore.currentEvaluator.guideline }}</v-toolbar-title>
              </v-col>


              <v-spacer></v-spacer>

              <v-col cols="2" class="d-flex align-center justify-end">
                <span class="text-grey text-sm-body-2 mr-2">Run</span>

                <v-tooltip>
                  <template v-slot:activator="{props}">
                    <v-btn
                        class="mr-2 myActionBorder"
                        density="comfortable"
                        @click="modal.showModal()"
                        :disabled="!appStore.isReadyToRun"
                    >
                      <v-icon v-if="true"
                              v-bind="props"
                              class=""
                      >
                        mdi-play
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>Run Evaluation</span>
                </v-tooltip>

              </v-col>
            </v-row>
          </v-toolbar>
        </v-container>

      </v-col>
    </v-row>

    <v-row>
      <v-col class="ma-0 pt-0 pb-0" cols="12">
        <evaluator-states
            class="pl-4 pr-4"
            :eval-states="webSocketStore.evaluationStates"
        />
      </v-col>
    </v-row>

    <v-row
        class=""
        justify="center"
    >
      <v-col cols="12">
        <!--        :disable="webSocketStore.evaluationStates.length === 0 || webSocketStore.getLastEvaluationStateStatus === 'COMPLETED'"-->

        <v-toolbar class="mb-10">
          <v-btn
              class="myActionBorder"
              @click="viewResults"
              :disabled="!webSocketStore.getLastEvaluationState?.resultsFile"
          >
            Review Results
          </v-btn>
        </v-toolbar>
      </v-col>
    </v-row>
  </v-container>

  <start-evaluation-dialog
      @cancel="modal.hideModal"
      @run="run"
  />

</template>

<style type="text/css">


</style>
