<script setup lang="ts">
import {GChart} from "vue-google-charts";
import {useGraphStore} from "@/store/graphStore";
import {useEvaluatorStore} from "@/store/evaluatorStore";
import {GoogleChartOptions} from "vue-google-charts/dist/types";

const graphStore = useGraphStore()
const evaluatorStore = useEvaluatorStore()

// const graphType = 'BarChart'
const graphType = 'ColumnChart'
const title = `Number of people who met criteria by rule*`

const chartOptions: GoogleChartOptions  = {
  title: title,
  titleTextStyle: {
    color: 'white',
    fontSize: 24
  },
  chartArea: {
    backgroundColor: {fill: 'black'},
    border: {size: 1, borderColor: 'red'},
  },
  backgroundColor: '#333333',
  // legend: {position: 'none', titleTextStyle: {fontSize: 12, color: 'white'}},
  legend: {textStyle: {fontSize: 16, color: 'white'}},
  hAxis: {title: 'Rule', textStyle: {color: 'white'}, titleTextStyle: {color: 'white', fontSize: 18}},
  vAxis: {title: 'People who met criteria', textStyle: {color: 'white'}, titleTextStyle: {color: 'white', fontSize: 18}, gridlines: {color: 'gray'}},
  // width: 800,
  height: 800
}

</script>

<template>

  <div v-if="!evaluatorStore.currentEvaluatorInstance">
    No graph data.
  </div>
  <div v-else
       class="my-main-content-container mt-4"
  >

    <GChart
      :type="graphType"
      :data="graphStore.chartData"
      :options="chartOptions"
    />

    <div class="mt-2 bgColor1 pa-6" style="width: 800px;">
      <p class="text-h6">Evaluated population size: {{ evaluatorStore.currentEvaluatorInstance.populationSize }}</p>
      <p class="text-h6">Individuals who met criteria: {{ evaluatorStore.currentEvaluatorInstance.peopleMetCriteria }}</p>
      <p class="mt-3 text-yellow-lighten-3">* Individuals can meet more than one criteria -- the sum of each met criteria column is likely more than {{ evaluatorStore.currentEvaluatorInstance.peopleMetCriteria }}.</p>
    </div>


  </div>
</template>