<script setup lang="ts">
import {useEvaluatorStore} from '@/store/evaluatorStore'
import {useRoute, useRouter} from "vue-router";
import {onMounted, ref} from "vue";
import {useEvaluatorResultsStore} from "@/store/evaluatorResultsStore";
import EvaluationInstanceSummaryCard from "@/components/EvaluationInstanceSummaryCard.vue";
import MetCriteriaResults from "@/components/MetCriteriaResults.vue";
import RegistryInstructionResults from "@/components/RegistryInstructionResults.vue";
import {useGraphStore} from "@/store/graphStore";

const route = useRoute()
const router = useRouter()
const evaluatorStore = useEvaluatorStore()
const evaluatorResultsStore = useEvaluatorResultsStore()
const graphStore = useGraphStore()

const instanceId = ref('')
const outputType = ref('')
const resultsFileName = ref('')

const fetchData = () => {

  instanceId.value = route.params.instanceId as string
  outputType.value = route.params.outputType as string
  evaluatorResultsStore.fetchResultsPage(outputType.value, instanceId.value)
  evaluatorStore.fetchEvaluatorInstance(instanceId.value)
}

onMounted(() => {
    fetchData()
})

const download = () => {
  let fileName = evaluatorStore.currentEvaluatorInstance.resultsFile
  if (fileName !== undefined && fileName !== null) {
    evaluatorResultsStore.downloadResultsFile(fileName)
  }
}

const goGraph = async () => {
  console.log('GO GRAPH')
  await evaluatorResultsStore.fetchRuleSummaryGraphData()
  graphStore.chartData = evaluatorResultsStore.chartData
  await router.push('/graph')
}

</script>

<template>

  <!--  <div class="mb-6 myBorder elevation-1 myHeader">-->
  <v-container
      class="my-main-content-container"
  >

    <v-row justify="center">
      <!--      <v-col cols="12" sm="10" md="9" lg="8" xl="7">-->
      <v-col
          cols="12"
          class="pl-0 pr-0 pb-0"
      >
        <!-- Adjust the width of the v-toolbar using CSS -->
        <v-toolbar
            class="pt-9 pb-9"
        >
          <v-icon class="ml-4">mdi-data-matrix</v-icon>
          <v-toolbar-title>
            <span class="text-blue">EVALUATION TIME:</span> {{ evaluatorStore.currentEvaluatorInstance.startTime }}
          </v-toolbar-title>

          <v-tooltip v-if="outputType === 'MET_CRITERIA_OUTPUT_TYPE'">
            <template v-slot:activator="{props}">
              <v-btn
                  class="mr-2 myActionBorder"
                  density="comfortable"
                  @click="goGraph"
              >
                <v-icon v-if="true"
                        v-bind="props"
                >
                  mdi-chart-bar
                </v-icon>
              </v-btn>
            </template>
            <span>Graph results</span>
          </v-tooltip>

          <v-tooltip>
            <template v-slot:activator="{props}">
              <v-btn
                  class="mr-2 myActionBorder"
                  density="comfortable"
                  @click="download"
                  :disabled="!evaluatorStore.currentEvaluatorInstance.resultsFile"
              >
                <v-icon v-if="true"
                        v-bind="props"
                >
                  mdi-download-outline
                </v-icon>
              </v-btn>
            </template>
            <span>Download results</span>
          </v-tooltip>

          <evaluation-instance-summary-card
              class="mr-2"
              style="max-width: 40%"
              :showTitle="false"
              :title="evaluatorStore.currentEvaluator.title"
              :instance-id="evaluatorStore.currentEvaluatorInstance.instanceId"
              :output-type="evaluatorStore.currentEvaluatorInstance.outputType"
              :guideline="evaluatorStore.currentEvaluator.guideline"
              :start-time="evaluatorStore.currentEvaluatorInstance.startTime"
              :completion-time="evaluatorStore.currentEvaluatorInstance.completionTime"
              :results-file="evaluatorStore.currentEvaluatorInstance.resultsFile"
              :show-actions="false"
              :population-size="evaluatorStore.currentEvaluatorInstance.populationSize"
              :people-met-criteria="evaluatorStore.currentEvaluatorInstance.peopleMetCriteria"
          />

        </v-toolbar>

      </v-col>
    </v-row>

    <v-row>
      <v-col
          class="v-col-12 pa-0 mt-0"
      >

        <met-criteria-results
          v-if="outputType === 'MET_CRITERIA_OUTPUT_TYPE'"
        />

        <registry-instruction-results
            v-if="outputType === 'REGISTRY_INSTRUCTION_OUTPUT_TYPE'"
        />

      </v-col>
    </v-row>
  </v-container>
  <!--  </div>-->
</template>
