<script setup lang="ts">

import {MyTableHeader} from "@/model/appModels";
import {useMeasuresStore} from "@/store/measuresStore";

const measuresStore = useMeasuresStore()
const title = 'Codes';

const headers: MyTableHeader[] = [
  {
    title: 'Count',
    align: 'start',
    sortable: true,
    key: 'count',
  },
  {
    title: 'Code System',
    align: 'start',
    sortable: true,
    key: 'code.codeSystem',
  },
  {
    title: 'Code Label',
    sortable: true,
    key: 'code.codeLabel'
  },
  {
    title: 'Code'
    , key: 'code.code'
  },
]

</script>

<template>

  <v-container
      class="my-main-content-container"
  >

    <v-row justify="center">
      <!-- <v-col cols="12" sm="10" md="9" lg="8" xl="7"> -->
      <v-col
          cols="12"
      >
        <!-- Adjust the width of the v-toolbar using CSS -->
        <v-toolbar>
          <v-icon class="ml-4">mdi-hand-pointing-right</v-icon>
          <div
              class="ml-4"
              style="max-width: 70%; font-size: 1.25em;"
          >
            <span class="text-blue"> {{ title }} </span>
          </div>

          <v-spacer/>

          <span class="text-grey text-sm-body-2 mr-2">Filters:</span>

<!--          :class="terminologyStore.filterEhrCodes ? 'text-grey' : 'text-green-accent-1'"-->
<!--          @click="terminologyStore.toggleEhrFilter"-->

          <v-icon
              class="mr-2"
              :class="'text-green-accent-1'"
          >
            mdi-alpha-e-circle-outline
          </v-icon>

          <v-icon
              class="mr-2"
              :class="'text-blue-accent-1'"
          >
            mdi-alpha-s-circle-outline
          </v-icon>

        </v-toolbar>
      </v-col>
    </v-row>

    <v-expansion-panels>
      <v-expansion-panel
        v-for="cat in measuresStore.patientDataCodeAnalyticsArray"
        :title="cat.category"
      >
        <v-expansion-panel-text>
        <v-data-table
            :headers="headers"
            :items="cat.codeAnalytics"
            item-key="gid"
            items-per-page="-1"
            item-value="bindingCode"
        >
          <template v-slot:item.code.codeSystem="{ item }">

            <v-icon v-if="item.isMappedAsEhrCode === 1" class="text-green-accent-1 pl-1">mdi-alpha-e-circle-outline</v-icon>
            <span v-else class="mr-8"></span>

            <v-icon v-if="item.isMappedAsStandardCode === 1" class="text-blue-accent-1">mdi-alpha-s-circle-outline</v-icon>
            <span v-else class="mr-8"></span>

            {{ item.code.codeSystem }}

          </template>

        </v-data-table>
        </v-expansion-panel-text>
      </v-expansion-panel>
    </v-expansion-panels>

  </v-container>

</template>