<script setup lang="ts">

import {useMeasuresStore} from "@/store/measuresStore";
import {onMounted, watch} from "vue";
import UploadDialog from "@/components/ImportDialog.vue";
import {useAppStore} from "@/store/appStore";
import {MyTableHeader} from "@/model/appModels";

const measuresStore = useMeasuresStore()
const appStore = useAppStore()

function searchUpdate() {
  console.log("UPDATE TERMINOLOGY SUMMARY")
  measuresStore.fetchMeasures(appStore.currentEvaluatorId)
}

function updateData() {
  searchUpdate()
}

watch(() => appStore.currentEvaluatorId, updateData)

onMounted(() => {
  appStore.fetchEvaluatorsPickList()
  searchUpdate()
})

function loadFile() {
  console.log("OPEN LOAD TERMINOLOGY DIALOG")
  appStore.showImportDialog = true
}

const headers = [
  {title: 'Measurement', value: 'measureLabel'},
  {title: 'Value', value: 'measureValue'},
]

const codeHeaders: MyTableHeader[] = [
  {
    title: 'Count',
    align: 'start',
    sortable: true,
    key: 'count',
  },
  {
    title: 'Code System',
    align: 'start',
    sortable: true,
    key: 'code.codeSystem',
  },
  {
    title: 'Code Label',
    sortable: true,
    key: 'code.codeLabel'
  },
  {
    title: 'Code'
    , key: 'code.code'
  },
]


</script>

<template>
  <v-container
      class="my-main-content-container"
  >
    <v-row
        class="pt-3"
        justify="center"
    >
      <v-col cols="12">

        <v-toolbar>
          <v-icon class="ml-4">mdi-sigma</v-icon>
          <v-toolbar-title>Summaries</v-toolbar-title>

          <v-spacer></v-spacer>

          <span class="text-grey text-sm-body-2 mr-2">Import Terminology</span>

          <v-tooltip>
            <template v-slot:activator="{props}">
              <v-btn
                  class="mr-2 myActionBorder"
                  density="comfortable"
                  :onclick="loadFile"
              >
                <v-icon v-if="true"
                        v-bind="props"
                >
                  mdi-upload-outline
                </v-icon>
              </v-btn>
            </template>
            <span>Import terminology codes</span>
          </v-tooltip>

        </v-toolbar>

      </v-col>
    </v-row>

    <v-row>
      <v-col cols="6"
             v-for="category in measuresStore.evaluator.measureCategories"
      >
        <v-card>
          <v-card-title>{{ category.measureCategory }}</v-card-title>
          <v-divider/>
          <v-data-table
              :headers="headers"
              :items="category.measures"
              density="compact"
          >
            <template #headers></template>
            <template v-slot:item.measureLabel="{ item }">
              <v-icon
                  v-if="item.measureLabel.toUpperCase().includes('CODE SET')"
                  class="text-yellow-accent-1 mr-2"
              >mdi-file-tree-outline
              </v-icon>

              <v-icon
                  v-if="item.properties?.isMappedToLocal"
                  class="text-green-accent-1 mr-2"
              >mdi-alpha-e-circle-outline
              </v-icon>

              <v-icon
                  v-if="item.properties?.isMappedToStandard"
                  class="text-blue-accent-1 mr-2"
              >mdi-alpha-s-circle-outline
              </v-icon>

              <v-icon
                  v-if="item.properties?.isNotMappedToStandard || item.properties?.isNotMappedToLocal"
                  class="text-red-accent-1 mr-2"
              >mdi-alert-outline
              </v-icon>

              {{ item.measureLabel }}

            </template>
            <template #bottom></template>
          </v-data-table>

        </v-card>
      </v-col>
    </v-row>

    <div v-if="measuresStore.fhxFilename"
      class="mt-4"
    >
    <v-row
      class="mb-0"
    >
      <v-col cols="12"
             class="mt-0 mb-0 pb-0"
      >
        <v-card
            class="myBorderB"
        >
          <v-card-title>Patient Family Hx Code Summary ({{ measuresStore.fhxFilename }})</v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row
      class="mt-0 mb-0"
    >
      <v-col cols="12" class="mt-0 pt-0">
        <v-expansion-panels class="mt-0">
          <v-expansion-panel
              v-for="cat in measuresStore.patientDataCodeAnalyticsArray"
              :title="cat.codeAnalytics.length + ' ' + cat.category + ' Codes'"
          >
            <v-expansion-panel-text>
              <v-data-table
                  :headers="codeHeaders"
                  :items="cat.codeAnalytics"
                  item-key="gid"
                  items-per-page="-1"
                  item-value="bindingCode"
              >
                <template v-slot:item.code.codeSystem="{ item }">

                  <v-icon v-if="item.isMappedAsEhrCode === 1" class="text-green-accent-1 pl-1">
                    mdi-alpha-e-circle-outline
                  </v-icon>
                  <span v-else class="mr-8"></span>

                  <v-icon v-if="item.isMappedAsStandardCode === 1" class="text-blue-accent-1">
                    mdi-alpha-s-circle-outline
                  </v-icon>
                  <span v-else class="mr-8"></span>

                  {{ item.code.codeSystem }}

                </template>

              </v-data-table>
            </v-expansion-panel-text>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
    </v-row>
    </div>
  </v-container>

  <upload-dialog/>

</template>
