<template>
  <v-card
      color="ma-6"
  >
<!--    <v-card-title class="text-h5 myHeader">-->
<!--      Search for Terminology Codes-->
<!--    </v-card-title>-->
<!--    <v-card-text>-->
<!--    </v-card-text>-->
<!--    <v-card-text>-->
      <v-autocomplete
          v-model="model"
          :items="items"
          :loading="isLoading"
          :search-input.sync="search"
          color="white"
          hide-no-data
          hide-selected
          item-text="display"
          item-value="codeId"
          label="Terminology Search"
          placeholder="Start typing to Search"
          prepend-icon="mdi-database-search"
          return-object
      ></v-autocomplete>
<!--    </v-card-text>-->
    <v-divider></v-divider>
    <v-expand-transition>
      <v-list
          v-if="model"
      >
        <v-list-item
            key="1"
        >
          <v-list-item-content>
            <v-list-item-title>Code ID</v-list-item-title>
            <v-list-item-subtitle v-text="model.id"></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
            key="2"
        >
          <v-list-item-content>
            <v-list-item-title>Code System</v-list-item-title>
            <v-list-item-subtitle v-text="model.codeSystem"></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
            key="3"
        >
          <v-list-item-content>
            <v-list-item-title>Code</v-list-item-title>
            <v-list-item-subtitle v-text="model.code"></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
            key="4"
        >
          <v-list-item-content>
            <v-list-item-title>Label</v-list-item-title>
            <v-list-item-subtitle v-text="model.codeLabel"></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

      </v-list>
    </v-expand-transition>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
          class="myBtn"
          :disabled="!model"
          @click="model=null"
      >
        Clear
        <v-icon right>
          mdi-close-circle
        </v-icon>
      </v-btn>
      <v-btn
          class="myBtn"
          :disabled="!model"
          @click="choose"
      >
        Select
        <v-icon right class="mySuccess">
          mdi-check-circle
        </v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: [],
  data: () => ({
    isLoading: false,
    model: null,
    search: null,
    codes: [],
    count: 0,
  }),

  computed: {
    items() {
      return this.codes.map(code => {
        const display = code.codeLabel + ' [' + code.codeSystem + ']'
        code.display = display
        return Object.assign({}, code, {display})
      })
    },
  },
  watch: {
    search(val) {
      // Items have already been loaded
      if (this.items.length > 0) return

      // Items have already been requested
      if (this.isLoading) return

      this.isLoading = true

      // Lazily load input items
      fetch('http://localhost:8090/data/tcodes?size=10000')
          .then(res => res.json())
          .then(res => {
            this.codes = res._embedded.codes
            this.count = this.codes.length
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => (this.isLoading = false))
    },
  },
  methods: {
    choose() {
      this.$emit('codeSelected', this.model)
      this.model = null
    }
  }
}
</script>
