<template>
  <div
    class="ma-6"
  >
    <server-status/>
    <evaluators/>
  </div>
</template>

<script>
import ServerStatus from "@/components/ServerStatus.vue";
import Evaluators from "@/components/Evaluators.vue";

export default {
  components : {
    'server-status': ServerStatus
    , 'evaluators': Evaluators
  },
  data: () => ({
  }),
}
</script>

<style type="text/css">
.v-data-table__wrapper div.v-toolbar__title {
  color: white;
}
.my-dashboard-title {
  color: white;
  font-size: 1.25em;
  /*border-bottom: solid grey 1px;*/
  /*background-color: lightslategrey;*/
}
</style>
