<template>

  <v-dialog
      v-model="mappingDialog"
      max-width="500px"
  >
<!--    <template v-slot:activator="{ on, attrs }">-->
<!--      <v-btn-->
<!--          class="ml-4 mb-2 myBtn"-->
<!--          v-bind="attrs"-->
<!--          v-on="on"-->
<!--      >-->
<!--        New Code-->
<!--      </v-btn>-->
<!--    </template>-->
    <v-card>
      <v-card-title>
        <span class="text-h5" v-if="editType==='new'">Add New Mapping</span>
        <span class="text-h5" v-else>Update Mapping</span>
      </v-card-title>

      <code-looker-upper
          v-if="editType==='new'"
          class="elevation-0 myBorder"
          @codeSelected="setSearchedCode"
      />

      <v-card-text>
        <v-form
        ref="codeEditForm"
        lazy-validation
        :key="formKey"
        >
          <v-container>
          <v-row>
            <v-col
                cols="12"
            >
              <v-text-field
                  v-model="editCode.bindingCode"
                  label="Binding Code"
                  disabled
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                cols="12"
            >
              <v-select
                  v-model="editCode.association"
                  :items="associations"
                  label="Association"
                  :rules="assocRule"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                cols="12"
            >
              <v-text-field
                  v-model="editCode.codeSystem"
                  label="Code System"
                  :disabled="editType === 'edit'"
                  :rules="csRule"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                cols="12"
            >
              <v-text-field
                  v-model="editCode.codeLabel"
                  label="Label"
                  :rules="codeLabelRule"
              ></v-text-field>
            </v-col>
          </v-row>
            <v-row>
              <v-col
                  cols="12"
              >
                <v-text-field
                    v-model="editCode.code"
                    label="Code"
                    :rules="codeRule"
                    :disabled="editType === 'edit'"
                ></v-text-field>
              </v-col>
            </v-row>
        </v-container>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            class="myBtn"
            @click="closeMapping"
        >
          Cancel
          <v-icon right>
            mdi-close-circle
          </v-icon>
        </v-btn>
        <v-btn
            class="myBtn"
            @click="saveMapping"
        >
          Save
          <v-icon right class="mySuccess">
            mdi-check-circle
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
import CodeLookerUpper from "@/components/CodeLookerUpper.vue"

export default {
  components: {
    'code-looker-upper': CodeLookerUpper
  },
  props: ['editCode', 'mappingDialog', 'editType'],
  data: () => ({
    associations: ['EHR_CODE_IS','STANDARD_CODE_IS']
    , assocRule: [ v1 => !!v1 || 'Association is required' ]
    , csRule: [ v2 => !!v2 || 'Code system is required' ]
    , codeRule: [ v3 => !!v3 || 'Code is required' ]
    , codeLabelRule: [ v4 => !!v4 || 'Code label is required' ]
    , editedCode: {
      codeAssociationId: null
      , codeId: null
      , bindingCode: ''
      , association: ''
      , codeSystem: ''
      , code: ''
      , codeLabel: ''
    }
  }),

  computed: {
    formKey() {
      if (this.editType === 'new') {
        return this.editCode.bindingCode
      } else {
        return this.editCode.bindingCode + '.' + this.editCode.code
      }
    }
  },

  methods: {
    closeMapping() {
      this.$emit('closeMappingDialog')
    },

    saveMapping() {
      if (this.$refs.codeEditForm.validate()) {
        console.log('Code form valid')
        this.$emit('saveMapping')
      } else {
        console.log('Code form INVALID')
      }
    },

    setSearchedCode(searchedCode) {
      this.editCode.codeId = searchedCode.id
      this.editCode.codeSystem = searchedCode.codeSystem
      this.editCode.code = searchedCode.code
      this.editCode.codeLabel = searchedCode.codeLabel
    }
  }
}
</script>
