<template>

  <div class="myBorder elevation-1">
    <v-container fluid>

      <v-row class="myHeader">
        <v-col
            v-if="!service.id"
            class="mt-1 pb-0"
        >
          Population Services
        </v-col>
        <v-col
            v-else
            class="col-6 mt-1 ml-2 pb-0"
        >
          {{ service.title }}
        </v-col>

        <v-spacer/>
        <v-col
            v-if="service.title"
            class="pb-0"
        >
          <v-menu> <!-- date picker with input -->
            <template v-slot:activator="{ on }">
              <v-text-field
                  label="Search Date"
                  prepend-icon="mdi-calendar"
                  append-outer-icon="mdi-refresh"
                  @click:append-outer="getStates"
                  readonly
                  :value="fromDateDisp"
                  v-on="on"
                  class="mt-0 pt-1"
              >
                <v-icon
                    slot="append-outer"
                    style="background-color: var(--myHeader)"
                    @click="getStates"
                >
                  mdi-refresh
                </v-icon>
              </v-text-field>
            </template>
            <v-date-picker
                locale="en-in"
                :min="minDate"
                :max="maxDate"
                v-model="fromDateVal"
                no-title
                @input="fromDateMenu = false"
            />
          </v-menu>
        </v-col>

        <v-col
            v-if="service.title"
            class="pb-0"
        >
          <v-btn
              class="myBtn ml-2 mt-1"
              @click="runDialog"
              :disabled="!$store.getters.getSystemsReady"
          >
            Evaluate Population
          </v-btn>
        </v-col>
      </v-row>

      <v-row
          v-if="!service.title"
      >
        <v-col>
          <v-icon color="red" class="pl-2">mdi-cancel</v-icon>
          UNAVAILABLE - start the CDS Hooks Server and/or validate the system properties.
        </v-col>
      </v-row>

      <v-row
          v-if="service.title && instances.length === 0"
      >
        <v-col>
          No results
        </v-col>
      </v-row>

      <div
          v-for="instance in instances"
          :key="instance.instanceId"
      >

        <v-row
          class="myBorderB mt-4 myHeader2"
        >
          <v-col
            class="col-9 ml-2"
          >
            <span style="font-weight: bold">Evaluation Instance:</span>
              <span v-if="instance.startTime" >{{ instance.startTime.substring(0, 19).replace('T', ' ') }}</span>
          </v-col>
          <v-spacer/>
          <v-col>
            <v-btn
                v-if="instance.states[instance.states.length-1].completionTime"
                class="myBtn ml-2"
                @click="reviewResults(instance.instanceId, instance.startTime)"
            >
              Review Results
            </v-btn>

          </v-col>
        </v-row>

      <v-row>
        <v-col class="myBorderB myBorderR">
          <span class="ml-2" style="font-weight: bold">Evaluation State</span>
        </v-col>

        <v-col class="myBorderB myBorderR">
          <span style="font-weight: bold">Start Time</span>
        </v-col>

        <v-col class="myBorderB myBorderR">
          <span style="font-weight: bold">End Time</span>
        </v-col>

        <v-col class="myBorderB myBorderT">
          <span style="font-weight: bold">Message</span>
        </v-col>

        <v-container>

          <v-row
              v-for="state in instance.states"
              :key="state.stateId"
          >
            <v-col>
              <v-progress-circular
                  v-if="state.status === 'PROCESSING'"
                  indeterminate
                  color="var(--myImportant)"
                  :size="20"
              />
              <v-icon
                  v-if="state.status === 'COMPLETED'"
                  color="var(--mySuccess)">
                mdi-check-circle
              </v-icon>
              <v-icon
                  v-if="state.status === 'FAILED'"
                  color="var(--myImportant)">
                mdi-cancel
              </v-icon>
              {{ state.state }}
            </v-col>
            <v-col>
                <span v-if="state.startTime">{{ state.startTime.substring(0, 19).replace('T', ' ') }}</span>
            </v-col>
            <v-col>
              <span v-if="state.completionTime">{{ state.completionTime.substring(0, 19).replace('T', ' ') }}</span>
<!--              <span v-if="state.completionTime">{{ state.completionTime }}</span>-->
            </v-col>
            <v-col>
              {{ state.message }}
            </v-col>
          </v-row>
        </v-container>

      </v-row>
      </div>

      <start-evaluation-dialog
          v-if="startEvaluationDialog"
          :serviceId="service.id"
          @cancel="startEvaluationDialog=false"
          @run="run"
      />

    </v-container>
  </div>

</template>

<script>
import StartEvaluationDialog from "@/components/StartEvaluationDialog.vue"
import ServiceInstances from "@/components/ServiceInstances.vue"
import {v4 as uuidv4} from 'uuid'

export default {
  components: {
    'start-evaluation-dialog': StartEvaluationDialog
    , 'service-instances': ServiceInstances
  },
  data: () => {
    return {
      fromDateMenu: false,
      fromDateVal: null,
      minDate: "2019-07-04",
      startEvaluationDialog: false,
    }
  },

  computed: {

    fromDateDisp() {
      return this.fromDateVal
    },

    maxDate() {
      return new Date().toISOString().substring(0, 10)
    },

    service() {
      if (!this.$store.getters.getCdsHooksService) {
        return 'None'
      }
      return this.$store.getters.getCdsHooksService
    },

    instances() {
      const sts = this.$store.getters.getServiceInstanceStates
        console.log(sts)
        if ( sts.length === 0 ) {
            return []
        }
      const instanceSet = new Set()
      sts.forEach((st) => {
        instanceSet.add(st.instanceId)
      })
      const inst = [...instanceSet]
      let instObjArray = []
      inst.forEach((iId) => {
        const s = sts.filter((state) => {
          return state.instanceId === iId
        })
            .sort((a, b) => a.stateId - b.stateId)
        const first = s[0]
        const last = s[s.length - 1]
        instObjArray.push({instanceId: iId, startTime: first.startTime, endTime: last.completionTime, states: s})
      })
      return instObjArray
    }

  },

  mounted() {
    this.$store.dispatch('fetchCsdHooksServices')
  },

  created() {
    this.initWebSocket()
  },

  methods: {

    initWebSocket() {
      // WebSocket is different from ordinary requests in terms of protocol, WS is equivalent to http, WSS is equivalent to HTTPS
      const endpoint = this.$store.state.websocketEndpoint
      console.log("Start connection to WebSocket Server:" + endpoint)
      this.websock = new WebSocket(endpoint)
      this.websock.onopen = this.websocketOnOpen;
      this.websock.onerror = this.websocketOnError;
      this.websock.onmessage = this.websocketOnMessage;
      this.websock.onclose = this.websocketClose;
    },
    websocketOnOpen: function () {
      console.log ("WebSocket connection SUCCESS");
    },
    websocketOnError: function (e) {
      console.log ("WebSocket connection ERROR");
    },
    websocketOnMessage: function (msg) {
      const evalStateJson = JSON.parse(msg.data)
      console.log(evalStateJson)
      this.$store.dispatch('addServiceInstanceState', evalStateJson)
    },
    websocketClose: function (e) {
      console.log("connection closed (" + e.code + ")");
    },

    runDialog() {
      this.startEvaluationDialog = true
    },

    getStates() {
      this.$store.dispatch('fetchServiceInstanceStates', this.fromDateDisp)
    },

    reviewResults(instId, startTime) {
      this.$store.dispatch('fetchServiceInstanceMetRuleCriteria', instId)
      this.$router.push('resultsReview/' + instId + '/' + startTime)
    },

    run(payload) {
      payload.instanceId = uuidv4()
      this.$store.dispatch('runEvaluation', payload)
      this.startEvaluationDialog = false
    }
  }
}
</script>

<!--class="v-stepper pl-6 pr-6 elevation-0 v-stepper&#45;&#45;vertical v-sheet theme&#45;&#45;light"-->
<style type="text/css">
/*.my-dashboard-header-r1 {*/
/*  border: solid lightgrey 1px;*/
/*}*/

div.v-stepper__header {
  font-size: 1.5em;
}

/*class="v-stepper__step ml-4 mr-4 white v-stepper__step--active v-stepper__step--complete"*/
div.v-stepper__step {
  border-left: solid 5px black;
}

div.v-stepper--vertical .v-stepper__content {
  z-index: 9999;
  background-color: white;
  border-left: solid grey 2px;
}
</style>

