<template>
  <div class="text-center">
    <v-dialog
        :value="true"
        width="500"
    >

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          Export Terminology Codes
        </v-card-title>

        <v-form
            class="ml-6"
            ref="selectFilesForm"
        >
          <v-checkbox
              v-model="exportEhrCodes"
              label="Export EHR codes"
          />

          <v-checkbox
              v-model="exportStandardCodes"
              label="Export standard codes"
          />

          <v-checkbox
              v-model="exportCodeSets"
              label="Export code sets"
          />

        </v-form>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="red"
              text
              @click="$emit('close')"
          >
            Cancel
          </v-btn>
          <v-btn
              class="myBtn"
              text
              @click="exportTerminology"
          >
            Export
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // demogRules: [v => !!v || 'Patient demographics file is required'],
      // fhxRules: [v => !!v || 'Patient family history file is required'],
      errorMessage: null,
      exportEhrCodes: false,
      exportStandardCodes: false,
      exportCodeSets: false,
    }
  },
  methods: {

    exportTerminology() {
      const payload = {exportEhrCodes: this.exportEhrCodes, exportStandardCodes: this.exportStandardCodes, codeSetsFile: this.exportCodeSets}
      this.$emit('export', payload)
    }
  }
}
</script>
