<template>
  <div class="ma-6">
    <v-expansion-panels
        v-model="panel"
        flat
        accordian
    >

      <v-expansion-panel
          clsss="myPopulationExpPanel"
          :key="0"
      >
        <v-expansion-panel-header
            class="myHeader ma-0 pl-4"
        >
          Genetic Testing Recommender Rules
        </v-expansion-panel-header>

        <v-expansion-panel-content
            class="myReportsExpPanelContent"
        >

          <population/>

        </v-expansion-panel-content>

      </v-expansion-panel>

<!--      <v-expansion-panel-->
<!--          clsss="myPopulationExpPanel"-->
<!--          :key="1"-->
<!--      >-->
<!--        <v-expansion-panel-header-->
<!--            class="myPopulationExpPanelHeader ma-0 pl-4"-->
<!--        >-->
<!--          <div class="text-h5">Population: Adults between 25 and 60 who have been seen in a primary care setting in the past 3 years</div>-->
<!--        </v-expansion-panel-header>-->

<!--        <v-expansion-panel-content-->
<!--            class="myReportsExpPanelContent"-->
<!--        >-->

<!--        </v-expansion-panel-content>-->
<!--      </v-expansion-panel>-->

    </v-expansion-panels>
  </div>
</template>

<script>
import Population from "@/components/Population.vue"

export default {
  components: {
    'population': Population
  },
  data: () => ({
    panel: 0,
  }),

  computed: {
    avatarColor(id) {
        return 'red'
    }
  },

  methods: {
  }
}
</script>

<style type="text/css">
.myPopulationExpPanelHeader {
  background-color: #e5e5e5;
  border-bottom: solid #a5a5a5 1px;
}
.v-expansion-panel-content__wrap {
  padding: 0 0 0 0 !important;
}
</style>
