<template>
  <v-card>

    <v-list three-line class="pt-0">
      <template v-for="(item) in $store.state.nccnRules">
        <v-toolbar
            v-if="item.header"
            :key="item.id"
            class="myRuleHeader mt-1 pl-2"
            flat
        >
          <span style="font-size: 0.9em;">{{ item.header }}</span>
          <v-spacer/>

          <!-- turning off authoring for this version -->
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                  v-if="false"
                  fab
                  small
                  color="primary"
                  @click.native.stop="newRule"
                  v-bind="attrs"
                  v-on="on"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <span>New Rule Definition</span>
          </v-tooltip>
        </v-toolbar>

        <v-list-item
            v-else
            :key="item.id"
            class="myBorderB"
        >
          <v-avatar
              class="white--text mr-6"
              :class="[item.id.includes('BC') ? 'myAnalogousColor1' : 'myAnalogousColor2']"
          >
            {{ item.id }}
          </v-avatar>

          <v-list-item-content>
            <v-list-item-title class="text-wrap"> {{ item.title }}</v-list-item-title>

            <v-chip-group>
              <v-chip
                  v-for="code in item.codes"
                  :key="item.id + '_' + code.bindingCode"
                  @click="viewCode(code.bindingCode, code.codeType)"
                  small
              >{{ code.codeLabel }}
              </v-chip>
            </v-chip-group>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-if="false"
                    fab
                    x-small
                    class="ml-4"
                    @click.native.stop="newRule"
                    v-bind="attrs"
                    v-on="on"
                    color="white"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>New terminology code</span>
            </v-tooltip>

          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-card>

</template>

<script>
export default {
  methods: {
    viewCode(binding, codeType) {

      if (codeType === 'code') {
        console.log("CODE: " + binding)
        this.$store.state.bindingCodeMappingsFilter = binding
        this.$router.push('/codeMappings')
        return
      }
      console.log("VALUE SET: " + binding)
      this.$store.state.valueSetFilter = binding
      this.$router.push('/valueSets')

    },
    newRule() {
      alert("New Rule")
    }
  }
}
</script>

<style>
.myRuleHeader {
  color: var(--myHeaderText) !important;
  background-color: var(--myHeader2) !important;
  font-size: var(--myHeaderTextSize) !important;
  border-bottom: var(--myBorder) !important;
}
</style>
