<template>
  <v-data-table
      :headers="headers"
      :items="propertyList"
      class="elevation-1 mt-6 ml-6 mr-6 myBorder"
  >
    <template v-slot:top>
      <v-toolbar
          class="myHeader"
          flat
      >
        <v-toolbar-title>Property Editor</v-toolbar-title>
        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
            v-model="dialog"
            max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                class="mb-2"
                v-bind="attrs"
                v-on="on"
            >
              New Property
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                      cols="12"
                  >
                    <v-text-field
                        v-model="editedItem.propertyName"
                        label="Property name"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                      cols="12"
                  >
                    <v-text-field
                        v-model="editedItem.propertyValue"
                        label="Property value"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                      cols="12"
                  >
                    <v-textarea
                        v-model="editedItem.propertyInstructions"
                        label="Instructions"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  text
                  @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                  text
                  @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="">Are you sure you want to delete {{ editedItem.propertyName }}?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
          small
          @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
<!--      <v-btn-->
<!--          @click="initialize"-->
<!--      >-->
<!--        Reset-->
<!--      </v-btn>-->
    </template>
  </v-data-table>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: 'PROPERTY NAME',
        align: 'start',
        sortable: false,
        value: 'propertyName',
        width: '20%'
      },
      { text: 'PROPERTY VALUE', value: 'propertyValue', width: '20%' },
      { text: 'INSTRUCTIONS', value: 'propertyInstructions', width: '40%' },
      { text: 'ACTIONS', value: 'actions' },
    ],
    appProperties: [],
    editedIndex: -1,
    editedItem: {
      propertyName: '',
      propertyValue: '',
      propertyInstructions: '',
    },
    defaultItem: {
      propertyName: '',
      propertyValue: '',
      propertyInstructions: '',
    },
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Property' : 'Edit Property'
    },

    propertyList() {
      return this.$store.getters.getAppProps
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },

  created () {
    this.$store.dispatch('fetchAppProps')
  },

  methods: {

    editItem (item) {
      this.editedIndex = this.appProperties.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.appProperties.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.appProperties.splice(this.editedIndex, 1)
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.appProperties[this.editedIndex], this.editedItem)
      } else {
        this.appProperties.push(this.editedItem)
      }
      this.close()
    },
  },
}
</script>

<style type="text/css">
</style>

/*header .v-toolbar__content {*/
/*  border: solid black 1px;*/
/*}*/
/*.v-data-table__wrapper {*/
/*  border: solid lightgrey. 1px;*/
/*}*/
/*.theme--light.v-divider {*/
/*  border: none;*/
/*}*/
/*header .my-prop-table-header {*/
/*  border: solid black 1px;*/
/*}*/

/*header.my-prop-table-header div.v-toolbar__title {*/
/*  color: white;*/
/*}*/
/*.my-prop-table th {*/
/*   background-color: #F0F2F2;*/
/* }*/
/*.my-prop-table th span {*/
/*  color: #AC152C;*/
/*  font-weight: bold;*/
/*}*/
