<template>

  <!--  <div class="mb-6 myBorder elevation-1 myHeader">-->
  <v-container
      class="ma-6 myBorder"
  >

    <v-row>
      <v-col
          class="myHeader col-12 pt-4 pb-4"
      >
        Met criteria for evaluation @{{ startTime.substring(0, 19).replace('T', ' ') }} ({{ instanceId }})
      </v-col>
    </v-row>

    <v-row>
      <v-col
          class="col-12 pa-0"
      >
        <v-data-table
            :headers="headers"
            :items="peopleWhoMetCriteria"
        >
          <template
              v-slot:item.metRuleCriteria="{ item }"
          >
            <div
                v-for="crit in item.metRuleCriteria"
            >
              <b>({{ crit.shortCode }})</b> {{ crit.label }}.
            </div>
          </template>

        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
  <!--  </div>-->
</template>

<script>
export default {
  props: ['instanceId', 'startTime'],
  computed: {
    peopleWhoMetCriteria() {
      return this.$store.getters.getServiceInstanceMetRuleCriteria
    }
  },
  data: () => ({
    headers: [
      {text: 'PatientId', align: 'start', value: 'patientId'},
      {text: 'Cohort', value: 'cohort.label'},
      {text: 'Met criteria', value: 'metRuleCriteria'},
    ],

    people: [
      {
        patientId: 'E5EB81D0166BE21CE053BF47649BF121'
        , metCriteria: [
          'First or second degree relative with beast cancer age <= 45',
        ]
        , cohort: 'MET_NCCN_GENETIC_TESTING_CRITERIA'
      },
      {
        patientId: 'E5EB81D01721E21CE053BF47649BF121'
        , metCriteria: [
          'First or second degree relative with beast cancer age <= 45',
          'First or second degree relative with ovarian cancer'
        ]
        , cohort: 'MET_NCCN_GENETIC_TESTING_CRITERIA'
      },
      {
        patientId: 'E5EB81D017E3E21CE053BF47649BF121'
        , metCriteria: [
          'First or second degree relative with ovarian cancer'
        ]
        , cohort: 'MET_NCCN_GENETIC_TESTING_CRITERIA'
      },
    ],

  })
}

</script>
