<template>
  <div>
    Instance
    <div
        v-for="(step,i2) in instance.states"
    >
      Step {{ i2 }} {{ step.state }}
    </div>
  </div>
</template>

<script>

export default {
  props: ['instanceId'],
  computed: {

    instance() {
      return this.$store.getters.getInstanceById(this.instanceId)
    }

  }
}
</script>
