<template>
  <div class="mb-6 myBorder elevation-1 myHeader">
    <v-container
        class=""
        fluid
    >
      <v-row>
        <v-col class="col-9 mt-1 ml-2">
          GARDE System Status
        </v-col>
        <v-spacer></v-spacer>
        <v-col>
        <v-btn
            class="myBtn"
            @click="checkSystemStatus"
        >Check Systems</v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-container
        fluid
        class="pa-0"
    >
      <v-row
          no-gutters
      >
        <v-col v-if="systems.length === 0">
          <v-card
              height="120  px"
          >
            <v-card-title>
              <nobr>
                Checking ...
                <v-progress-circular
                    indeterminate
                ></v-progress-circular>
              </nobr>
            </v-card-title>
          </v-card>
        </v-col>

        <v-col
            v-for="system in systems"
            :key="system.systemCd"
        >
          <v-card
              class="ma-1 myBorder"
              tile
              flat
              height="100px"
          >
            <div
              class="ml-4 mt-4" style="font-size: 1.0em"
            >
              <nobr>
                {{ system.systemLabel }}
                <v-icon v-if="system.status === 'up'" class="pl-2 mySuccess">mdi-check-circle</v-icon>
                <v-icon v-else color="red" class="pl-2">mdi-cancel</v-icon>
              </nobr>
            </div>
            <v-card-text>

              {{ system.endpoint }}

              <span v-if="system.status !== 'up' && system.status !== 'down'">
                {{ system.status }}
              </span>

            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    var1: 'val1',
    systemUpIcon:
        {
          id: 'md-check-circle'
          , name: 'System Up'
          , color: 'green'
        },
    systemDownIcon:
        {
          id: 'md-cancel'
          , name: 'System Down'
          , color: 'red darken-4'
        }
    ,
    // systems: [
    // {
    //   "systemCd": "POPULATION_COORDINATOR",
    //   "systemLabel": "Population Coordinator",
    //   "status": "down"
    // },
    // ]
  }),
  computed: {
    systems() {
      return this.$store.getters.getSystemState
    }
  },
  mounted() {
    this.$store.dispatch('fetchSystemStatus')
  },
  methods: {
    checkSystemStatus() {
      this.$store.dispatch('fetchSystemStatus')
    }
  },

}
</script>

<style type="text/css">

/*.dashboard-system-title p {*/
/*  color: black;*/
/*  font-size: 1.5em;*/
/*}*/

</style>
