<template>
  <div>
    Instances:
  <div
      v-for="(instance,i) in $store.getters.getCdsHooksService.instances"
  >
    Instance {{ i+1 }}: {{ instance.instanceId }}
    <service-instance
      :instanceId="instance.instanceId"
    />
  </div>
  </div>
</template>

<script>
import ServiceInstance from "@/components/ServiceInstance.vue"

export default {
  props: ['serviceId'],
  components: {
    'service-instance': ServiceInstance,
  },
  computed: {

    // instances() {
    //   return this.$store.getters.getCdsHooksService.instances
    // }

  }
}

</script>
