<template>
  <div class="ma-6 myBorder">
  <v-toolbar
      class="myHeader"
      flat
  >
    <v-toolbar-title>System Settings</v-toolbar-title>
  </v-toolbar>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      class="ma-2"
  >
    <v-text-field
        v-model="this.$store.state.popCoordEndpoint"
        :counter="10"
        label="Population Coordinator Endpoint"
    ></v-text-field>

        <v-text-field
                v-model="this.$store.state.websocketEndpoint"
                label="Websocket Endpoint"
        ></v-text-field>

        <v-text-field
                v-model="this.$store.state.cdsHooksEndpoint"
                label="CdsHooks Endpoint"
        ></v-text-field>

        <v-btn v-if="showUpdateButton"
        class="myBtn"
        @click="updateSettings"
    >
      Update
    </v-btn>
  </v-form>
  </div>
</template>


<script>
export default {
  data: () => ({
    valid: true,
      showUpdateButton: false,
    // opCoordEndpoint: '',
    // websocketEndpoint: '',
  }),

  computed: {


  },

  methods: {
    updateSettings () {
      this.$store.commit('updateSettings',
          {
            popCoordEndpoint: this.popCoordEndpoint,
            websocketEndpoint: this.websocketEndpoint
          })
    },
  },
}
</script>
