<template>
    <v-navigation-drawer
            v-model="theDrawer"
            app
    >
        <v-img src="garde-cyan.svg"/>

        <v-list
                class="mt-4"
                dense
                nav
                v-for="item in items"
                :key="item.id"
        >
            <v-list-item
                    v-if="item.submenu.length === 0"
                    active-class="grey lighten-4"
                    :key="item.title"
                    :to="item.to"
                    v-model="item.active"
                    link
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>
                        {{ item.title }}
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-group
                    v-if="item.submenu.length > 0"
                    :prepend-icon="item.icon"
                    active-class="grey lighten-4"
                    color="grey"
            >

                <template
                        class="red"
                        v-slot:activator
                >
                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </template>

                <v-list-item
                        v-for="sub in item.submenu"
                        :key="sub.title"
                        :to="sub.to"
                        link
                        class="pl-16"
                >
                    <v-list-item-title>{{ sub.title }}</v-list-item-title>

                    <v-list-item-icon>
                        <v-icon></v-icon>
                    </v-list-item-icon>
                </v-list-item>
            </v-list-group>

        </v-list>
    </v-navigation-drawer>

</template>

<script>
export default {
    props: ['drawer'],
    data: () => (
        {
            theDrawer: null,
            items: [
                // {
                //   id: 22,
                //   title: 'Properties',
                //   icon: 'mdi-cog',
                //   to: '/properties',
                //   submenu: []
                // },
                {
                    id: 2,
                    title: 'Dashboard',
                    icon: 'mdi-home',
                    to: '/dashboard',
                    submenu: []
                },
                {
                    id: 51,
                    title: 'Recommender Rules',
                    icon: 'mdi-chart-tree',
                    to: '/populations',
                    submenu: []
                },
                {
                    id: 52,
                    title: 'Code Mappings',
                    icon: 'mdi-hand-pointing-right',
                    to: '/codeMappings',
                    submenu: []
                },
                {
                    id: 53,
                    title: 'Value Sets',
                    icon: 'mdi-file-tree',
                    to: '/valueSets',
                    submenu: []
                },
                // {
                //     id: 5,
                //     title: 'Recommenders',
                //     icon: 'mdi-account-group',
                //     to: '/',
                //     submenu: [
                //         {
                //             id: 51,
                //             title: 'Rules',
                //             icon: 'mdi-account-group',
                //             to: '/populations',
                //             submenu: []
                //         },
                //         {
                //             id: 52,
                //             title: 'Code Mappings',
                //             icon: 'mdi-site-map-outline',
                //             to: '/codeMappings',
                //             submenu: []
                //         },
                //         {
                //             id: 53,
                //             title: 'Value Sets',
                //             icon: 'mdi-site-map-outline',
                //             to: '/valueSets',
                //             submenu: []
                //         },
                //
                //     ]
                // },
                {
                    id: 10,
                    title: 'Settings',
                    icon: 'mdi-cog',
                    to: '/settings',
                    submenu: []
                },
            ]
        }),

    watch: {
        drawer(newVal, oldVal) {
            this.theDrawer = newVal
        }
    },
    //
    // computed: {
    //   openDrawer() {
    //     return this.drawer
    //   }
    // },
}
</script>
