<template>
    <div class="text-center">
        <v-dialog
                :value="true"
                width="500"
        >

            <v-card>
                <v-card-title class="text-h5 grey lighten-2">
                    Evaluation options
                </v-card-title>

                <v-form
                        ref="selectFilesForm"
                        class="ml-2"
                >

                    <div
                            class="mt-4"
                            style="font-size: 14px; color: #00000099;"
                    >
                        PERSISTENCE
                    </div>

                    <v-checkbox
                            v-model="persistPatientData"
                            label="Persist patient data to database"
                            class="pb-0 mb-0 pt-0 mt-1"
                            :disabled="true"
                    />

                    <v-checkbox
                            v-model="persistResultsData"
                            label="Persist recommender results to database"
                            class="mt-0"
                            :disabled="true"
                    />

                    <v-checkbox
                            v-model="retrieveChatBotLinks"
                            label="Retrieve chatbot links"
                            class="mt-0"
                            :disabled="true"
                    />

                    <v-radio-group
                            v-model="dataSource"
                            label="DATA SOURCES"
                            class="ml-1"
                    >

                        <v-radio
                                :key="1"
                                label="FHIR Server: http://localhost:8095/fhirServer"
                                value="useFhirServer"
                                disabled
                        />

                        <v-radio
                                :key="2"
                                label="Cloud-based CSV files - AWS S3 Bucket"
                                value="useS3Bucket"
                                disabled
                        />

                        <v-radio
                                :key="3"
                                label="Local CSV files"
                                value="useLocalFiles"
                        />

                    </v-radio-group>

                    <v-file-input
                            v-model="patDataFile"
                            label="Patient demographics file"
                            :rules="demogRules"
                            truncate-length="50"
                    />
                    <v-file-input
                            v-model="patFHxDataFile"
                            label="Patient family history file"
                            :rules="fhxRules"
                            truncate-length="50"
                    />
                </v-form>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            color="red"
                            text
                            @click="$emit('cancel')"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                            class="myBtn"
                            text
                            @click="runService"
                    >
                        Run
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    props: ['serviceId'],
    data() {
        return {
            persistPatientData: false,
            persistResultsData: false,
            retrieveChatBotLinks: false,
            demogRules: [v => !!v || 'Patient demographics file is required'],
            fhxRules: [v => !!v || 'Patient family history file is required'],
            errorMessage: null,
            patDataFile: null,
            patFHxDataFile: null,
            dataSource: 'useLocalFiles',
        }
    },
    methods: {

        runService() {
            if (!this.$refs.selectFilesForm.validate()) {
                console.log("INCOMPLETE FORM")
                return
            }
            // const payload = {serviceId: this.serviceId, patDemogDataFileName: this.patDataFile.name, patFHxDataFileName: this.patFHxDataFile.name, instanceId: null}
            const payload = {
                serviceId: this.serviceId,
                patDemogDataFile: this.patDataFile,
                patFHxDataFile: this.patFHxDataFile,
                instanceId: null
            }
            console.log(payload)
            this.$emit('run', payload)
        }
    }
}
</script>
