<template>

  <v-card
    class="ma-6"
  >
    <v-toolbar
      color="var(--myToolbar)"
      class="elevation-0"
    >
      <v-toolbar-title
          class="elevation-0"
      >
        Genetic Testing Recommender Codes
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-text-field
          v-if="doSearch"
          v-model="$store.state.bindingCodeMappingsFilter"
          :label="$store.state.bindingCodeMappingsFilterType.toLowerCase().replace('_', ' ')"
          class="white"
          hide-details
      />

      <v-autocomplete
          v-else
          v-model="$store.state.bindingCodeMappingsFilter"
          :items="items"
          label="Search Picklist"
          class="mt-6"
      ></v-autocomplete>

      <v-btn icon
             class="mr-0 pr-0"
      >
        <v-icon
            @click="toggleSearch"
        >
          mdi-magnify
        </v-icon>
      </v-btn>

      <v-btn icon
             class="mr-0 pr-0">
        <v-icon
            class="mr-0 pr-0"
            @click="exportDialogOn=!exportDialogOn"
        >
          mdi-file-export-outline
        </v-icon>
      </v-btn>

    </v-toolbar>

    <v-list
    >

      <v-list-item
          v-for="(mappedCode,i) in mappedCodes"
      >

        <v-list-item-content class="myBorder pt-0 mt-4 mb-0 pb-0">
          <v-list-item-title class="myHeader2 myBorderB pl-6 pb-4 pt-1">
            <v-row>
              <v-col class="col-8 mt-4">
                {{ mappedCode.bindingCode.code }}
              </v-col>
              <v-spacer/>
              <v-col>
                <v-btn
                    class="mr-4 mt-2"
                  @click="addMapping(mappedCode.bindingCode.code)"
                >
                  Add mapping
                </v-btn>
              </v-col>
            </v-row>

          </v-list-item-title>

          <v-list
            class="pa-0"
          >
            <v-list-item>
              <v-row class="myBorderB pa-0 pl-14 font-weight-medium">
                <v-col class="col-4">CODE SYSTEM</v-col>
                <v-col class="col-3">LABEL</v-col>
                <v-col class="col-3">CODE</v-col>
                <v-col>ACTIONS</v-col>
              </v-row>
            </v-list-item>

            <v-list-item
              v-for="aCode in mappedCode.mappings"
              class="myBorderB"
            >
              <v-list-item-avatar>
                <v-icon v-if="aCode.association === 'EHR_CODE_IS'" class="myRed">mdi-alpha-e-circle-outline</v-icon>
                <v-icon v-else class="mySuccess">mdi-alpha-s-circle-outline</v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-row>
                  <v-col class="col-4">{{ aCode.code.codeSystem }}</v-col>
                  <v-col class="col-3">{{ aCode.code.codeLabel }}</v-col>
                  <v-col class="col-3">{{ aCode.code.code }}</v-col>
                  <v-col>
                    <v-icon
                        small
                        class="mr-2"
                        @click="editMapping(mappedCode.bindingCode.code, aCode)"
                    >
                      mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click="deleteMapping(aCode.codeAssociationGid)"
                    >
                      mdi-delete
                    </v-icon>
                  </v-col>
                </v-row>
              </v-list-item-content>
            </v-list-item>
          </v-list>

        </v-list-item-content>

      </v-list-item>
    </v-list>

  <edit-code-dialog
    :editCode="editCode"
    :mappingDialog="mappingDialog"
    :editType="editType"
    @closeMappingDialog="closeMapping"
    @saveMapping="saveMapping"
  />

    <export-dialog
        v-if="exportDialogOn"
        @export="exportTerminology"
        @close="exportDialogOn=false"
        @click="exportDialogOn=true"
    />

  </v-card>

</template>

<script>
import EditCodeDialog from "@/components/EditCodeDialog.vue"
import ExportDialog from "@/components/ExportDialog.vue"

export default {
  components: {
    'edit-code-dialog' : EditCodeDialog
    , 'export-dialog' : ExportDialog
  },
  data: () => ({
    searchPhrase: null
    , doSearch: true
    , mappingDialog: false
    , exportDialogOn: false
    , editType: null
    , editCode: {
      bindingCode: null
      , codeId: null
      , codeSystem: null
      , code: null
      , codeLabel: null
      , association: null
    },
  }),

  computed: {
    mappedCodes() {
      return this.$store.getters.getMappedCodesFiltered
    },
    items() {

      const bindingCodes = []
      for (const codeIndex in this.$store.getters.getMappedCodes) {
        bindingCodes.push(this.$store.getters.getMappedCodes[codeIndex].bindingCode.code)
      }

      return bindingCodes
    }
  },

  created () {
    this.$store.dispatch('fetchBindingCodeMappings')
  },

  methods: {

    toggleSearch() {
      this.doSearch = !this.doSearch
    },

    editMapping(bindingCode, aCode) {
      this.editCode.codeAssociationGId = aCode.codeAssociationGId
      this.editCode.bindingCode = bindingCode
      this.editCode.codeId = aCode.code.id
      this.editCode.codeSystem = aCode.code.codeSystem
      this.editCode.code = aCode.code.code
      this.editCode.codeLabel = aCode.code.codeLabel
      this.editCode.association = aCode.association
      this.editType = 'edit'
      this.mappingDialog = true
    },

    deleteMapping(codeAssociationGId) {
      console.log(codeAssociationGId)
      this.mappingDialog = false
      this.$store.dispatch('deleteCodeAssociation', codeAssociationGId)
    },

    addMapping(bindingCode) {
      this.clearEditCode()
      this.editCode.bindingCode = bindingCode
      this.editType = 'new'
      this.mappingDialog = true
    },

    saveMapping() {
      this.mappingDialog = false
      this.$store.dispatch('saveCodeAssociation', this.editCode)
    },

    closeMapping() {
      this.mappingDialog = false
    },

    clearEditCode() {
      this.editCode.codeAssociationGId = null
      this.editCode.bindingCode = null
      this.editCode.codeId = null
      this.editCode.codeSystem = null
      this.editCode.code = null
      this.editCode.codeLabel = null
      this.editCode.association = null
    },

    exportTerminology(payload) {
      console.log(payload)
      this.exportDialogOn = false
    }

  }

}
</script>
