<template>
<div>

  <v-data-table
      :headers="headers"
      :items="codes"
      class="elevation-1 mt-6 ml-6 mr-6 myPropTable"
      :items-per-page="-1"
  >
    <template v-slot:top>

      <v-toolbar
        flat
        class="myHeader mb-2"
      >
        <v-toolbar-title>Path&nbsp;&nbsp;</v-toolbar-title>
        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>

        <v-text-field
            v-model="$store.state.codePathFilter"
            class="mt-5"
            label="Hierarchy Path"
        />

        <v-radio-group
          v-model="$store.state.codePathFilterType"
          row
          class="mt-5 ml-4"
        >
          <v-radio
              key="1"
              label="Starts with"
              value="STARTS_WITH"
          />
          <v-radio
              key="2"
              label="Contains"
              value="CONTAINS"
          />
        </v-radio-group>

      </v-toolbar>

      <v-toolbar
          flat
          class="myHeader"
      >
        <v-toolbar-title>Filters</v-toolbar-title>

        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>

        <v-text-field
            v-model="$store.state.bindingCodeFilter"
            class="mt-5"
            label="Binding Code"
        />

        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>

        <v-select
            v-model="associationFilter"
            :items="associations"
            class="mt-5"
            label="Association"
        />

        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>

        <v-text-field
            v-model="$store.state.codeSystemFilter"
            class="mt-5"
            label="Code System"
        />

        <v-spacer></v-spacer>
        <v-dialog
            v-model="dialog"
            max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                class="mb-2 myBtn"
                v-bind="attrs"
                v-on="on"
            >
              New Code
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                      cols="12"
                  >
                    <v-text-field
                        v-model="editedItem.id"
                        label="ID"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                      cols="12"
                  >
                    <v-text-field
                        v-model="editedItem.bindingCode"
                        label="Internal Code"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                      cols="12"
                  >
                    <v-text-field
                        v-model="editedItem.association"
                        label="Association"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                      cols="12"
                  >
                    <v-text-field
                        v-model="editedItem.codeSystem"
                        label="Code System"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                      cols="12"
                  >
                    <v-text-field
                        v-model="editedItem.codeLabel"
                        label="label"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                      cols="12"
                  >
                    <v-text-field
                        v-model="editedItem.code"
                        label="Code"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color=""
                  text
                  @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                  color=""
                  text
                  @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="">Are you sure you want to delete {{ editedItem.propertyName }}?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
          small
          @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
          color="primary"
          @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>

</div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: 'ID',
        align: 'start',
        sortable: false,
        value: 'codeBindingId',
        width: '5%'
      },
      { text: 'PATH', value: 'path' },
      { text: 'INTERNAL CODE', value: 'bindingCode' },
      { text: 'ASSOCIATION', value: 'association' },
      { text: 'CODE SYSTEM', value: 'codeSystem' },
      { text: 'CODE LABEL', value: 'codeLabel' },
      { text: 'CODE', value: 'code' },
      { text: 'ACTIONS', value: 'actions' },
    ],
    editedIndex: -1,
    editedItem: {
      id: '',
      bindingCode: '',
      association: '',
      codeSystem: '',
      codeLabel: '',
      code: ''
    },
    defaultItem: {
      id: '',
      bindingCode: '',
      association: '',
      codeSystem: '',
      codeLabel: '',
      code: ''
    },
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Code' : 'Edit Code'
    },
    associations() {
      return this.$store.getters.getAssociations
    },
    associationFilter: {
      get() {
        return this.$store.getters.getAssociationFilter
      },
      set(value) {
        this.$store.commit('setAssociationFilter', value)
      }
    },
    codes: {
      get() {
        return this.$store.getters.getCodesFiltered
      },
      set() {
      }
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },

  created () {
    this.$store.dispatch('fetchCodes')
    this.codes = this.$store.getters.getCodes
  },

  methods: {
    initialize () {
      this.codes = this.$store.getters.getCodes
    },

    editItem (item) {
      this.editedIndex = this.codes.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.codes.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.codes.splice(this.editedIndex, 1)
      this.closeDelete()
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save() {
      this.$store.dispatch('saveCode', this.editedItem)
      //
      // if (this.editedIndex > -1) {
      //   Object.assign(this.codes[this.editedIndex], this.editedItem)
      // } else {
      // }
      this.close()
    },
  },
}
</script>


