<template>

  <v-card
      class="ma-6"
  >
    <v-toolbar
        color="var(--myToolbar)"
        class="elevation-0"
    >
      <v-toolbar-title
          class="elevation-0"
      >
        Genetic Testing Recommender Value Sets
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-text-field
          v-if="doSearch"
          v-model="$store.state.valueSetFilter"
          :label="$store.state.valueSetFilterType.toLowerCase().replace('_', ' ')"
          class="white"
          hide-details
      />

      <v-autocomplete
          v-else
          v-model="$store.state.valueSetFilter"
          :items="items"
          label="Search Picklist"
          class="mt-6"
      ></v-autocomplete>

      <v-btn icon
             class="mr-0 pr-0"
      >
        <v-icon
            @click="toggleSearch"
        >
          mdi-magnify
        </v-icon>
      </v-btn>

    </v-toolbar>

    <v-list
    >

      <v-list-item v-for="(valueSet) in valueSets">

        <v-list-item-content class="myBorder mt-4 mb-0 pb-0 pt-0">
          <v-list-item-title class="myHeader2 myBorderB pl-6 pb-4 pt-1">
            <v-row>
              <v-col class="col-8 mt-2">
                {{ valueSet.code }}: <span class="text--accent-1">{{ $store.getters.getCodeSetDefinition(valueSet.code) }}</span>
              </v-col>
            </v-row>
          </v-list-item-title>

          <v-list
              class="pa-0"
          >
            <v-list-item>
              <v-row class="myBorderB pa-0 font-weight-medium">
                <v-col class="col-3">MEMBER</v-col>
<!--                <v-col class="col-1">TYPE</v-col>-->
                <v-col class="col-4">TYPE &nbsp; CODE SYSTEM</v-col>
                <v-col class="col-3">LABEL</v-col>
                <v-col class="col-2">CODE</v-col>
              </v-row>
            </v-list-item>

            <v-list-item
                v-for="aCode in valueSet.members"
                class="myBorderB"
            >
<!--              <v-list-item-avatar>-->
<!--                <v-icon v-if="aCode.memberAssociation === 'EHR_CODE_IS'" class="myRed">mdi-alpha-e-circle-outline</v-icon>-->
<!--                <v-icon v-else class="mySuccess">mdi-alpha-s-circle-outline</v-icon>-->
<!--              </v-list-item-avatar>-->
              <v-list-item-content>
                <v-row>
                  <v-col class="col-3">{{ aCode.codeBinding }}</v-col>
                  <v-col class="col-4">
                    <v-icon v-if="aCode.memberAssociation === 'EHR_CODE_IS'" class="myRed pl-1">mdi-alpha-e-circle-outline</v-icon>
                    <v-icon v-else class="mySuccess pl-1">mdi-alpha-s-circle-outline</v-icon>
                    &nbsp; &nbsp; &nbsp;{{ aCode.code.codeSystem }}
                  </v-col>
                  <v-col class="col-3">{{ aCode.code.codeLabel }}</v-col>
                  <v-col class="col-2">{{ aCode.code.code }}</v-col>
                </v-row>
              </v-list-item-content>
            </v-list-item>
          </v-list>

        </v-list-item-content>

      </v-list-item>
    </v-list>

  </v-card>

</template>

<script>

export default {
  data: () => ({
    searchPhrase: null
    , doSearch: true
  }),

  computed: {
    valueSets() {
      return this.$store.getters.getValueSetsFiltered
    },
    items() {

      const bindingCodes = []
      for (const codeIndex in this.$store.getters.getMappedCodes) {
        bindingCodes.push(this.$store.getters.getMappedCodes[codeIndex].bindingCode.code)
      }

      return bindingCodes
    }
  },

  created () {
    this.$store.dispatch('fetchValueSets')
    this.$store.dispatch('fetchCodeSetDefinitions')
  },

  methods: {

    toggleSearch() {
      this.doSearch = !this.doSearch
    },

  }

}
</script>
