<script lang="ts" setup>
import {onMounted, ref} from "vue";
import SideMenu from "@/layouts/default/SideMenu.vue";
import {useAppStore} from "@/store/appStore";
import {useWebSocketStore} from "@/store/webSocketStore";

const drawer = ref(true)
const appStore = useAppStore()
const webSocketStore = useWebSocketStore()

onMounted(() => {
  appStore.fetchEvaluatorsPickList()
  appStore.fetchSystemStates()
  appStore.fetchBuildInfo()
  appStore.fetchCsdHooksServices()
  webSocketStore.connect()
})

</script>

<template>
  <v-app id="garde">

    <v-navigation-drawer
      v-model="drawer"
      :width="260"
    >
      <v-img src="/garde-cyan.svg"/>
      <SideMenu/>
    </v-navigation-drawer>

    <v-app-bar
      :height="80"
    >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-app-bar-title>{{ $route.name }}</v-app-bar-title>

      <v-select
          v-model="appStore.currentEvaluatorId"
          class="mt-6 pl-4"
          :items="appStore.evaluatorPickList"
          item-title="title"
          item-value="evaluatorId"
          label="Current Evaluator"
          style="max-width: 40%"
      />

      <v-spacer class="mr-1"></v-spacer>

      <div class="mr-5">
        <v-avatar
          class="myActionBorder"
        >
          AD
        </v-avatar>
      </div>
    </v-app-bar>

    <!--    <v-main class="d-flex align-center justify-center" style="min-height: 300px;">-->
    <v-main class="main-container align-center justify-center">

       <router-view :key="$route.fullPath"/>

    </v-main>

    <v-footer
        fixed
        app
        class="mt-6"
    >
      <v-row
          justify="center"
      >
        <v-col cols="12" class="text-center">
          <span class="text-grey text-sm-body-2 mr-2">{{ appStore.buildVersion }} &copy; 2024 University of Utah Biomedical Informatics. All rights reserved.</span>
        </v-col>
      </v-row>
    </v-footer>

  </v-app>
</template>

<style>

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the top */
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
}

.my-main-content-container {
  flex: 1; /* Allow it to grow and shrink with its content */
  background-color: inherit; /* Ensure it inherits background color from the parent */
  margin-top: 30px;
}

:root {
  /* --myTableBorderColor: #A1A1A1; */
  --myTableBorderColor: #424242;
  --myTableHeaderBgColor: #424242;
  --myTableCellBgColor: #212121;
  --myAnalogous1: #6D55A3;
  --myAnalogous2: #5f748d;
  --mySuccessColor: #72c0bf;
  --myBadgeColor1: #2B2B40;
  --myBadgeColor2: #354646;
}
.myBorderA { /* All */
  border: var(--myTableBorderColor) solid 1px !important;
}
.myBorderT {
  border-top: var(--myTableBorderColor) solid 1px !important;
}
.myBorderB {
  border-bottom: var(--myTableBorderColor) solid 1px !important;
}
.myBorderL {
  border-left: var(--myTableBorderColor) solid 1px !important;
}
.myBorderR {
  border-right: var(--myTableBorderColor) solid 1px !important;
}

.myBreadcrumb {
  position: absolute !important;
  top: 90px !important;
  left: 260px !important;
  width: 100%;
  border-bottom: solid #424242 1px ;
}

.myActionBorder {
  /* border: solid #b71c1c 1px !important; */
  border: solid #A1A1A1 1px !important;
}

.mySuccessColor {
  color: #72c0bf !important;
}

.myErrorColor {
  /* color: #B00020 !important; */
  color: #c04f65 !important;
}

.myWarningColor {
  color: #c4c469 !important;
}

.myTableBgColor {
  background-color: var(--myTableHeaderBgColor) !important;
}

.myHeaderBgColor {
  background-color: var(--myAnalogous2) !important;
}

.cellBgColor {
  background-color: var(--myTableCellBgColor) !important;
}

.headerCellBgColor {
  background-color: var(--myTableHeaderBgColor) !important;
}

.bgColor1 {
  background-color: var(--myBadgeColor1) !important;
}

.bgColor2 {
  background-color: var(--myBadgeColor2) !important;
}


</style>
