<template>
  <v-app id="garde">

    <sidebar-nav
        :drawer="drawer"
    />

    <v-app-bar
        class="myAppBar elevation-1"
        app
    >
      <v-app-bar-nav-icon
          @click="drawer = !drawer"
      />
      <v-app-bar-title class="mb-1">
        {{ $route.name }}
      </v-app-bar-title>

      <v-spacer></v-spacer>
<!--      <v-btn v-if="!loggedIn">Login</v-btn>-->
      <v-avatar
          class="myImportantBtn">
        {{ userInitials }}
      </v-avatar>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import SidebarNav from "@/components/SidebarNav.vue";

export default {
  components: {
    'sidebar-nav': SidebarNav
  },
  data: () => ({
    drawer: true,
    loggedIn: false,
    userInitials: 'AD',
    connection: null,
  }),

  created() {
    this.initSystemSettings()
  },

  methods: {

    initSystemSettings() {
      this.$store.dispatch('fetchSystemSettings')
    },

  }

}

</script>

<style type="text/css">
:root {
  --myImportant: #B71C1C;
  --myImportantText: white;
  --myNormal: white;
  --myNormalText: black;
  --myHeader: #e5e5e5;
  --myHeaderText: black;
  --myHeader2: #dde8e8;
  --myBorder: solid #e5e3e3 1px;
  --myMat: #e5e3e3;
  --myHeaderTextSize: 1.25em;
  --myToolbar: #e5e3e5;
  --myToolbarText: #B71C1C;
  --myToolbarTextSize: 1.25em;
  --mySuccess: #65AFAF;
  /*--myAnalogous1: #455572;*/
  --myAnalogous1: #5b5b5b;
  --myAnalogous2: #5f748d;
  /*--myAnalogous1: #4f668d;*/
  /*--myAnalogous1: #709fc3;*/
}
.v-toolbar.myAppBar {
  color: var(--myToolbarText) !important;
  background-color: var(--myToolbar) !important;
}
div.v-app-bar-title__content {
  width: 500px;
  text-transform: uppercase;
  font-size: var(--myToolbarTextSize);
}
.myImportantBtn {
  color: var(--myImportantText) !important;
  background-color: var(--myImportant) !important;
}
.myBtn {
  color: var(--myNormalText) !important;
  background-color: var(--myNormal) !important;
}
.mySuccess {
  color: var(--mySuccess) !important;
}
.myHeader {
  color: var(--myHeaderText) !important;
  background-color: var(--myHeader) !important;
  font-size: var(--myHeaderTextSize) !important;
  border-bottom: var(--myBorder) !important;
}
.myHeader2 {
  background-color: var(--myHeader2);
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}
.myHeader input{
  background-color: var(--myNormal);
}
.v-select__slot {
  background-color: var(--myNormal) !important;
}
.myMat {
  background-color: var(--myMat) !important;
}
.myBorder {
  border: var(--myBorder) !important;
}
.myBorderU {
  border: var(--myBorder);
  border-top: 0;
}
.myBorderL {
  border-left: var(--myBorder);
}
.myBorderR {
  border-right: var(--myBorder);
}
.myBorderB {
  border-bottom: var(--myBorder);
}
.myBorderT {
  border-top: var(--myBorder);
}
.myCodeChip {
  width: 100px !important;
}
.myRed {
  color: var(--myImportant) !important;
}
.myRedBackground {
  background-color: var(--myImportant)
}
.myAnalogousColor1 {
  background-color: var(--myAnalogous1) !important;
}
.myAnalogousColor2 {
  background-color: var(--myAnalogous2) !important;
}

</style>
