<script type="ts" setup>
import {useAppStore} from "@/store/appStore";

const props = defineProps(['evalStates', 'instanceId'])
const appStore = useAppStore()

</script>

<template>

  <v-container
    class="pa-0 ma-0"
  >

    <v-row
        class="mt-1 mb-1"
    >
      <v-col class="bgColor1 mr-1 v-col-5">
        <span class="ml-2" style="font-weight: bold">Evaluation State</span>
      </v-col>

<!--      <v-col class="bgColor1 mr-1">-->
<!--        <span style="font-weight: bold">Time</span>-->
<!--      </v-col>-->

<!--      <v-col class="bgColor1 mr-1">-->
<!--        <span style="font-weight: bold">End Time</span>-->
<!--      </v-col>-->

      <v-col class="bgColor1">
        <span style="font-weight: bold">Message</span>
      </v-col>

    </v-row>

    <v-row
        v-if="!props.evalStates"
        class="mt-1 mb-1 cellBgColor"
    >
      <v-col
          class="v-col-12"
      >
        <span
            v-if="appStore.isReadyToRun"
            class="ml-2 text-grey text-sm-body-2"
        >No results - click Run to start the evaluation</span>
        <span
            v-else
            class="ml-2 text-grey text-sm-body-2"
        >Evaluations are currently unavailable. Validate GARDE servers are running - garde-db, garde-popcoord-webapp, garde-cdshooks.</span>
      </v-col>
    </v-row>

    <v-row
        v-for="(state, i) in props.evalStates"
        :key="i + '_' + props.instanceId"
        class="mt-0 mb-1"
    >
      <v-col
        class="cellBgColor mr-1 v-col-5"
      >
        <v-progress-circular
            v-if="state.status === 'PROCESSING' || !state.completionTime"
            indeterminate
            color="grey"
            :size="20"
        />
        <v-icon
            v-if="state.status === 'COMPLETED'"
            class="mySuccessColor">
          mdi-check-circle-outline
        </v-icon>
        <v-icon
            v-if="state.status === 'FAILED' || (state.completionTime && state.status === 'PROCESSING')"
            class="myErrorColor">
          mdi-cancel
        </v-icon>
        <span class="ml-3">{{ state.state }}</span><br/>
        <span v-if="i===0" class="ml-9">Date: {{ state.startTime.substring(0,10) }}</span><br v-if="i===0"/>
        <span v-if="state.startTime" class="ml-9">Start: {{ state.startTime.substring(0, 19).replace('T', ' ').slice(10) }}</span><br/>
        <span v-if="state.completionTime && i > 0" class="ml-9">End: {{ state.completionTime.substring(0, 19).replace('T', ' ').slice(10) }}</span>
      </v-col>
<!--      <v-col class="cellBgColor mr-1">-->
<!--        <span v-if="state.startTime">Start: {{ state.startTime.substring(0, 19).replace('T', ' ') }}</span><br/>-->
<!--        <span v-if="state.completionTime">End: {{ state.completionTime.substring(0, 19).replace('T', ' ') }}</span>-->
<!--      </v-col>-->
<!--      <v-col class="cellBgColor mr-1">-->
<!--        <span v-if="state.completionTime">{{ state.completionTime.substring(0, 19).replace('T', ' ') }}</span>-->
<!--        &lt;!&ndash;              <span v-if="state.completionTime">{{ state.completionTime }}</span>&ndash;&gt;-->
<!--      </v-col>-->
      <v-col
          class="cellBgColor"
      >
        <div v-for="chunk in state.message.split(';')">
          {{ chunk }}
        </div>
      </v-col>
    </v-row>

  </v-container>

</template>

<style>

</style>
