<script setup lang="ts">
import {useRouter} from "vue-router";
import {useAppStore} from "@/store/appStore";
import {useEvaluatorStore} from "@/store/evaluatorStore";
import {onMounted, ref} from "vue";

const props = defineProps(
['showTitle', 'title', 'guideline', 'instanceId', 'outputType', 'startTime', 'showActions', 'resultsFile', 'populationSize', 'peopleMetCriteria']
)
const router = useRouter()
const appStore = useAppStore()
const evaluatorStore = useEvaluatorStore()
let populationSizeRef = ref()
let metCriteriaRef = ref()
let percentageMetCriteria = ref()

async function openStatesDialog() {
  // await evaluatorStore.fetchEvaluatorInstance(props.instanceId)
  // appStore.showStatesDialog = true
}

function getPercentageMetCriteria() {
  if (props.populationSize === -1 || props.peopleMetCriteria === -1) {
    return ''
  }

  return '(' + ((parseFloat(props.peopleMetCriteria)/parseFloat(props.populationSize))*100).toFixed(2) + '%)'
}

</script>

<template>
  <v-card>
    <v-card-title v-if="showTitle">{{ title }}</v-card-title>
    <v-card-subtitle>
      <span class="font-weight-bold text-decoration-underline">Guideline</span>: {{ guideline }}
    </v-card-subtitle>
    <v-card-subtitle v-if="showTitle">
      <span class="font-weight-bold text-decoration-underline">Evaluation Time</span>: {{ startTime }}
    </v-card-subtitle>
    <v-card-subtitle>
      <span class="font-weight-bold text-decoration-underline">Population Size</span>: {{ populationSize }}</v-card-subtitle>
    <v-card-subtitle>
      <span class="font-weight-bold text-decoration-underline">Met Criteria</span>: {{ peopleMetCriteria }} {{ getPercentageMetCriteria() }}
    </v-card-subtitle>
    <v-card-subtitle v-if="showTitle">
      <span class="font-weight-bold text-decoration-underline">Results File</span>: {{ resultsFile }}
    </v-card-subtitle>
    <v-card-subtitle v-if="showTitle">
      <span class="font-weight-bold text-decoration-underline">Output</span>: {{ outputType }}
    </v-card-subtitle>

    <v-card-actions
      v-if="showActions"
    >
      <v-btn
          :disabled="!resultsFile"
          @click="router.push('/resultsViewer/' + outputType + '/' + instanceId)"
      >Results</v-btn>
<!--      <v-btn disabled>Summary</v-btn>-->
<!--      <v-btn disabled>Disparities</v-btn>-->
      <v-btn
          @click="router.push('/evaluatorStatesViewer/' + instanceId)"
      >
        Log
      </v-btn>
    </v-card-actions>
  </v-card>

</template>
