<script lang="ts" setup>
import EvaluatorStates from "@/components/EvaluatorStates.vue";
import {useEvaluatorStore} from "@/store/evaluatorStore";
import {onMounted, ref, watch} from "vue";
import {useAppStore} from "@/store/appStore";

const evaluatorStore = useEvaluatorStore()
const appStore = useAppStore()
const props = defineProps(['instanceId','showEvaluatorStates'])
const evaluatorInstanceStates = ref()
const showEvaluatorStatesLocal = ref(props.showEvaluatorStates)

function updateData() {
  // console.log('GET INST' + props.instanceId)
  evaluatorInstanceStates.value = evaluatorStore.evaluatorInstanceMap.get(props.instanceId)?.states
}

watch(() => evaluatorStore.evaluatorInstanceMap.get(props.instanceId), updateData)

onMounted(async () => {
  updateData()
  console.log(evaluatorInstanceStates.value.length + 'STATES RETRIEVED FOR ' + props.instanceId)
})

</script>

<template>

  <v-dialog
      :id="props.instanceId"
      v-model="showEvaluatorStatesLocal"
  >
    <v-card>
      <v-card-title class="text-h5 grey lighten-2">
        Evaluation States Log
      </v-card-title>

      <evaluator-states
          :eval-states="evaluatorStore.evaluatorInstanceMap.get(props.instanceId)?.states"
          :instance-id="props.instanceId"
      />

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            @click="showEvaluatorStatesLocal = false"
        >
          Close
        </v-btn>
      </v-card-actions>

    </v-card>

  </v-dialog>

</template>