<script lang="ts" setup>
import {useEvaluatorStore} from "@/store/evaluatorStore";
import {MappedCode} from "@/model/terminologyModels";
import {onMounted, watch} from "vue";
import {useAppStore} from "@/store/appStore";
import {useRouter} from "vue-router";

const evaluatorStore = useEvaluatorStore()
const appStore = useAppStore()
const router = useRouter()

function updateData() {
  evaluatorStore.fetchEvaluatorRules(appStore.currentEvaluatorId)
}

watch(() => appStore.currentEvaluatorId, updateData)

onMounted(() => {
  evaluatorStore.fetchEvaluatorRules(appStore.currentEvaluatorId)
})

interface CodeCategory {
  icon: string
  color: string
  message: string
}

function getCodeCategory(code: MappedCode): CodeCategory {

  if (code.isMappedToLocal) {
    return {
      icon: 'mdi-alpha-e-circle-outline'
      , color: 'text-green-accent-1'
      , message: 'Mapped to EHR'
    }
  } else if (code.isMappedToStandard) {
    return {
      icon: 'mdi-alpha-s-circle-outline'
      , color: 'text-blue-accent-1'
      , message: 'Mapped to standard'
    }
  } else if (code.isNotMapped) {
    return {
      icon: 'mdi-alpha-n-circle-outline'
      , color: 'text-red-accent-1'
      , message: 'Not mapped'
    }
  } else if (code.isCodeSet) {
    return {
      icon: 'mdi-file-tree-outline'
      , color: 'text-yellow-accent-1'
      , message: 'Code Set'
    }
  } else

    return {
      icon: 'mdi-alert-outline'
      , color: 'text-red-accent-1'
      , message: 'Not mapped'
    }

}

function getLastRuleIndex() {
  if (evaluatorStore.currentEvaluator.rules?.length) {
    return evaluatorStore.currentEvaluator.rules?.length - 1
  }
  return -1
}

function viewDetails(code: MappedCode) {
  if (code.isCodeSet) {
    router.push('/codeSetBrowser/' + code.code)
  } else {
    router.push('/codeBrowser/' + code.code)
  }
}

</script>

<template>

  <v-container class="my-main-content-container">

    <v-row justify="center">
      <!--      <v-col cols="12" sm="10" md="9" lg="8" xl="7">-->
      <v-col cols="12">

        <v-container class="ma-0 pa-0 fill-height">

          <v-toolbar>

            <v-row class="fill-height">

              <v-col cols="10" class="d-flex align-center">
                <v-icon class="ml-4">mdi-arrow-decision-outline</v-icon>
                <v-toolbar-title class="ml-2">{{ evaluatorStore.currentEvaluator.guideline }}</v-toolbar-title>
              </v-col>
              <v-spacer/>
              <v-col cols="2" class="d-flex align-center justify-end">
                <v-tooltip>
                  <template v-slot:activator="{props}">
                    <v-icon v-if="true"
                            v-bind="props"
                            class="text-yellow-accent-1"
                    >
                      mdi-file-tree-outline
                    </v-icon>
                  </template>
                  <span>Code Sets</span>
                </v-tooltip>

                <v-tooltip>
                  <template v-slot:activator="{props}">
                    <v-icon v-if="true"
                            v-bind="props"
                            class="text-blue-accent-1 ml-2"
                    >
                      mdi-alpha-s-circle-outline
                    </v-icon>
                  </template>
                  <span>Mapped to standard</span>
                </v-tooltip>

                <v-tooltip>
                  <template v-slot:activator="{props}">
                    <v-icon v-if="true"
                            v-bind="props"
                            class="text-green-accent-1 ml-2"
                    >
                      mdi-alpha-e-circle-outline
                    </v-icon>
                  </template>
                  <span>Mapped to EHR</span>
                </v-tooltip>

                <v-tooltip>
                  <template v-slot:activator="{props}">
                    <v-icon v-if="true"
                            v-bind="props"
                            class="text-red-accent-1 ml-2 mr-2"
                    >
                      mdi-alert-outline
                    </v-icon>
                  </template>
                  <span>Not mapped</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </v-toolbar>
        </v-container>
      </v-col>
    </v-row>

    <!-- Rule logic header-->
    <v-row
        v-for="(rule, i) in evaluatorStore.currentEvaluator.rules"
        :class="{'mb-10' : i === getLastRuleIndex() }"
    >
      <v-col v-if="rule.ruleBadge.startsWith('G')"
             cols="12"
      >
        <v-card class="bgColor1 pt-3 pb-3 text-h6 pl-4 pr-4 ">
          {{ rule.ruleLabel }}
        </v-card>
      </v-col>
      <!-- and the individual rules-->
      <v-col v-else cols="12">
        <v-card
        >
          <v-card-item>
            <v-card-title
                style="word-break: break-word !important;"
            >
              <v-avatar
                  class="mr-2 bgColor1"
              >
                {{ rule.ruleBadge }}
              </v-avatar>
              {{ rule.ruleLabel }}
            </v-card-title>

            <v-card-subtitle
                class="ml-14"
            >
              <span class="me-1">{{ rule.ruleCd }}</span>
            </v-card-subtitle>
          </v-card-item>

          <v-divider class="mx-4 mb-1"></v-divider>

          <div class="px-4">
            <v-chip-group column>
              <div
                  v-for="code in rule.codes"
              >
                <v-tooltip>
                  <template v-slot:activator="{props}">
                    <v-chip
                        v-bind="props"
                        :class="getCodeCategory(code).color"
                        @click="viewDetails(code)"
                    >
                      <v-icon class="mr-1" :class="getCodeCategory(code).color" :icon="getCodeCategory(code).icon"
                              size="x-small"></v-icon>
                      <span v-if="code.isCodeSet">{{ code.code }}</span>
                      <span v-else>{{ code.codeLabel }}</span>
                    </v-chip>
                  </template>
                  <span>{{ getCodeCategory(code).message }}</span>
                </v-tooltip>
              </div>
            </v-chip-group>
          </div>

        </v-card>
      </v-col>
    </v-row>

  </v-container>

</template>

<style>

</style>
