<script setup lang="ts">
import {onMounted, ref} from "vue";
import {useAppStore} from "@/store/appStore";
import {ImportInstruction, useTerminologyStore} from "@/store/terminologyStore";
import {useMeasuresStore} from "@/store/measuresStore";

const appStore = useAppStore()
const terminologyStore = useTerminologyStore()
const measuresStore = useMeasuresStore()
const importStrategy = ref('update')
const importCodeType = ref('importLocal')
const importFile = ref()
const formError = ref()

const importForm = ref(null)

onMounted(() => {
 console.log("OnMounted")
})

async function importData() {

  let importInstruction: ImportInstruction
  if (importFile.value) {
    importInstruction = {
      evaluatorId: appStore.currentEvaluatorId,
      importStrategy: importStrategy.value,
      importCodeType: importCodeType.value,
      terminologyFile: importFile.value
    };

    if (importCodeType.value === 'importPatientFamilyHx') {

      await measuresStore.analyzePatientData('Patient_Family_Hx', importFile.value[0])
      if (measuresStore.fhxError) {
        formError.value = measuresStore.fhxError
      } else {
        appStore.showImportDialog = false
      }

    } else {

      await terminologyStore.importTerminology(importInstruction)
          .then(resp => {
            console.log("IMPORT RESPONSE", resp)
            if (resp.status === 'ERROR' || resp.status === 'WARNING') {
              formError.value = resp.message
            } else {
              appStore.showImportDialog = false
            }

          })

      await measuresStore.fetchMeasures(appStore.currentEvaluatorId)
    }
  }
}

function close() {
  appStore.showImportDialog = false
  importFile.value = undefined
  formError.value = ''
}

</script>

<template>
  <div class="text-center">
    <v-dialog
        v-model="appStore.showImportDialog"
        width="500"
    >

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          Import Terminology
        </v-card-title>
        <v-divider/>
        <v-form
            ref="importForm"
            class="ml-2"
            @submit.prevent="importFile"
        >
          <v-radio-group
              v-model="importCodeType"
              label="IMPORT TYPE"
              class="ml-1"
          >

            <v-radio
                :key="10"
                label="EHR code mappings"
                value="importLocal"
            />

            <v-radio
                :key="20"
                label="Standard code mappings"
                value="importStandards"
            />

            <v-radio
                :key="30"
                label="Family Hx data file"
                value="importPatientFamilyHx"
            />
          </v-radio-group>
          <v-radio-group
              :disabled="importCodeType === 'importPatientFamilyHx'"
              v-model="importStrategy"
              label="IMPORT STRATEGY"
              class="ml-1 mt-4"
          >

            <v-radio
                :key="1"
                label="Update existing content and load new"
                value="update"
            />

            <v-radio
                :key="2"
                label="Delete and replace"
                value="delete"
            />

          </v-radio-group>

          <v-file-input
              v-model="importFile"
              label="CSV data file"
              truncate-length="50"
          />
        </v-form>

        <div v-if="formError" class="text-red-accent-1 ml-12 mb-6">
          <v-icon class="">mdi-alert</v-icon>
          {{ formError }}
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              v-if="!formError"
              color="red"
              @click="close"
          >
            Cancel
          </v-btn>
          <v-btn
              v-else
              class="myBtn"
              @click="close"
          >
            Cancel
          </v-btn>
          <v-btn
              class="myBtn"
              @click="importData"
              :disabled="!importFile"
          >
            Import
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
