<script lang="ts" setup>
import {useEvaluatorResultsStore} from "@/store/evaluatorResultsStore";

const evaluatorResultsStore = useEvaluatorResultsStore()

</script>

<template>

  <v-data-table
      class="mt-1"
      :items="evaluatorResultsStore.resultsPage"
  >

    <template #headers="{ headers }">
      <tr>
        <th v-for="(header,i) in headers[0]" :key="i" class="myHeader">
          <h3 class="">{{ header.title }}</h3>
        </th>
      </tr>
    </template>

    <template
        v-slot:item.cohort="{ item }"
    >
      {{ item.cohort.code }}
    </template>

    <template
        v-slot:item.metRuleCriteria="{ item }"
    >
      <v-container class="pl-1">
        <v-row
            v-for="(crit,i) in item.metRuleCriteria"
            align="center"
            justify="center"
            :class="i>0 ? 'myBorderT': ''"
        >
          <v-col
              class="v-col-1 ml-0 pl-0"
          >
            <v-avatar
                class="ml-0 pl-0 mr-2"
                :class="crit.ruleBadge.includes('B') ? 'bgColor1' : 'bgColor2'"
            >
              {{ crit.ruleBadge }}
            </v-avatar>
          </v-col>
          <v-col
              class="v-col-11"
          >
            {{ crit.ruleLabel }}
          </v-col>
        </v-row>
      </v-container>
    </template>

  </v-data-table>
</template>

<style lang="scss" scoped>

.myHeader {
  background-color: var(--myBadgeColor1) !important;
  color: white !important;
}

</style>