<script type="ts" setup>
import {lookBackOptions} from "@/data/appData";
import {onMounted, ref, watch} from "vue";
import {useEvaluatorStore} from "@/store/evaluatorStore";
import EvaluationInstanceSummaryCard from "@/components/EvaluationInstanceSummaryCard.vue";
import {useAppStore} from "@/store/appStore";
import {formatTime} from "@/store/sharedHelpers";

const appStore = useAppStore()
const evaluatorStore = useEvaluatorStore()
const pickedSearchId = ref(7)
const excludeIncomplete = ref(false)
const isAsc = ref(false)

function search() {
  console.log("SEARCH " + pickedSearchId.value + ':' + appStore.currentEvaluatorId)
  evaluatorStore.fetchEvaluator(appStore.currentEvaluatorId, pickedSearchId.value)
}

function searchUpdate() {
  search()
}

function updateData(newsh, oldsh) {
  evaluatorStore.fetchEvaluator(appStore.currentEvaluatorId, pickedSearchId.value)
}


watch(() => appStore.currentEvaluatorId, updateData)

onMounted(() => {
  evaluatorStore.fetchEvaluator(appStore.currentEvaluatorId, pickedSearchId.value)
})

</script>

<template>

  <!--    <v-container>-->
  <v-row
    justify="center"
  >
    <v-col cols="12">
      <v-toolbar>
        <v-icon class="ml-4">mdi-account-group</v-icon>
        <v-toolbar-title>Evaluations</v-toolbar-title>

        <v-checkbox
            v-model="excludeIncomplete"
            @click="evaluatorStore.toggleExcludeNegMetCriteria()"
            class="pt-4"
            label="Exclude Incomplete"
        />

        <v-checkbox
            v-model="isAsc"
            @click="evaluatorStore.toggleEvaluationInstanceSortOrder()"
            class="lm-0 pt-4"
            :label="evaluatorStore.evaluatorInstanceSortOrder === 'asc' ? 'Sort ascending' : 'Sort descending'"
        />

        <!--        <v-spacer></v-spacer>-->

        <v-select
            v-model="pickedSearchId"
            class="mt-2 mr-2 pl-4"
            :items="lookBackOptions"
            item-title="label"
            item-value="id"
            label="Start searching..."
            @click:prepend="search"
            @update:model-value="searchUpdate"
        />

      </v-toolbar>

    </v-col>
  </v-row>

  <v-row>
    <v-col
      cols="6"
      v-for="(evalInst, i) in evaluatorStore.getEvaluatorInstancesSorted"
      :key="evalInst.instanceId + '-COL'"
      :class="{'mb-10' : i === (evaluatorStore.getEvaluatorInstancesSorted.length -1)}"
    >

      <evaluation-instance-summary-card
          :key="evalInst.instanceId"
          :show-title="true"
        :title="evaluatorStore.currentEvaluator.title"
        :guideline="evaluatorStore.currentEvaluator.guideline"
        :instance-id="evalInst.instanceId"
        :output-type="evalInst.outputType"
        :start-time="formatTime(evalInst.startTime)"
        :completion-time="formatTime(evalInst.completionTime)"
        :results-file="evalInst.resultsFile"
        :show-actions="true"
        :population-size="evalInst.populationSize"
        :people-met-criteria="evalInst.peopleMetCriteria"
      />

    </v-col>
  </v-row>
  <!--    </v-container>-->

</template>

<style scoped>
.title-centered {
  display: flex;
  justify-content: center;
}
</style>