<script lang="ts" setup>
import {useEvaluatorResultsStore} from "@/store/evaluatorResultsStore";
import {MyTableHeader} from "@/model/appModels";

const evaluatorResultsStore = useEvaluatorResultsStore()

const headers: MyTableHeader[] = [
  {title: 'PatientId', key: 'ehrPatientId'},
  {title: 'Instruction', key: 'instruction'},
  {title: 'Data Element', key: 'dataElementName'},
  {title: 'Type', key: 'dataElementType'},
  {title: 'Value', key: 'dataElementValue'},
]

</script>

<template>

  <v-data-table
      :headers="headers"
      :items="evaluatorResultsStore.registryInstructionsResultsPage"
  >
  </v-data-table>


</template>