<script lang="ts" setup>
import {useModal} from "@/composables/modal";
import {useEvaluatorStore} from "@/store/evaluatorStore";
import {ref} from "vue";
import {fhgt2018} from "@/store/appStore";

const modal = useModal()
const evaluatorStore = useEvaluatorStore()

const outputType = ref('MET_CRITERIA_OUTPUT_TYPE')
const patDataFile = ref(undefined as File | undefined)
const patFHxDataFile = ref(undefined as File | undefined)
const patLdl_C_ObsFile = ref(undefined as File | undefined)
const formError = ref('')

const emit = defineEmits<{
  (event: "cancel"): void
  (event: "run", demog: File, fhx: File, obs: File | undefined, outputType: string): void
}>()

const runService = () => {

  formError.value = ''

  if (patDataFile.value && patFHxDataFile.value && outputType.value) {
    emit("run", patDataFile.value, patFHxDataFile.value, patLdl_C_ObsFile.value, outputType.value)
  } else {
    const err = 'All fields are required'
    console.log("Evaluation form validation failed - all fields are required.")
    formError.value = err
  }
}

</script>

<template>

  <v-dialog
      v-model="modal.show.value"
      width="500"
  >

    <v-card>
      <v-card-title class="text-h5 grey lighten-2">
        Evaluation options
      </v-card-title>

      <v-form
          ref="selectFilesForm"
          class="ml-2"
      >

        <v-radio-group
            v-if="evaluatorStore.currentEvaluator.evaluatorId !== fhgt2018"
            v-model="outputType"
            label="OUTPUT OPTIONS"
            class="ml-1"
        >

          <v-radio
              :key="10"
              label="Patients with met criteria"
              value="MET_CRITERIA_OUTPUT_TYPE"
          />

          <v-radio
              :key="20"
              label="Registry instructions"
              value="REGISTRY_INSTRUCTION_OUTPUT_TYPE"
          />

          <v-radio
              :key="30"
              label="REDCap data file"
              value="REDCAP_FORMAT_OUTPUT_TYPE"
          />

        </v-radio-group>

        <v-file-input
            v-model="patDataFile"
            label="Patient demographics file"
            :rules="[v => !!v || 'Patient demographics file is required']"
            truncate-length="50"
        />
        <v-file-input
            v-model="patFHxDataFile"
            label="Patient family history file"
            :rules="[v => !!v || 'Patient family history file is required']"
            truncate-length="50"
        />
        <v-file-input
            v-if="evaluatorStore.currentEvaluator.evaluatorId === fhgt2018"
            v-model="patLdl_C_ObsFile"
            label="Patient LDL-C observations file"
            :rules="[v => !!v || 'Patient LDL-C observation file is required']"
            truncate-length="50"
        />
      </v-form>

      <div v-if="formError" class="text-red-accent-1 ml-12 mb-6">
        <v-icon class="">mdi-alert</v-icon>
        {{ formError }}
      </div>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="red"
            @click="$emit('cancel')"
        >
          Cancel
        </v-btn>
        <v-btn
            class="myBtn"
            @click="runService"
        >
          Run
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>
