<script lang="ts" setup>
import {useAppStore} from "@/store/appStore";

const appStore = useAppStore()

</script>

<template>

<!--  <v-container>-->

    <v-row justify="center">
      <!--      <v-col cols="12" sm="10" md="9" lg="8" xl="7">-->
      <v-col cols="12">
        <!-- Adjust the width of the v-toolbar using CSS -->
        <v-toolbar>
          <v-icon class="ml-4">mdi-list-status</v-icon>
          <v-toolbar-title>System Status</v-toolbar-title>

          <v-spacer/>

          <span class="text-grey text-sm-body-2 mr-2">Check System</span>

          <v-tooltip>
            <template v-slot:activator="{props}">
              <v-btn
                  class="mr-2 myActionBorder"
                  density="comfortable"
                  @click="appStore.fetchSystemStates()"
              >
                <v-icon v-if="true"
                        v-bind="props"
                >
                  mdi-check-circle-outline
                </v-icon>
              </v-btn>
            </template>
            <span>Check system status</span>
          </v-tooltip>

        </v-toolbar>
      </v-col>
    </v-row>

    <v-row>
      <v-col v-if="appStore.getSystemStates.length === 0">
        <v-card
          height="120px"
        >
          <v-card-title>
              Checking ...
              <v-progress-circular
                indeterminate
              ></v-progress-circular>
          </v-card-title>
        </v-card>
      </v-col>

      <v-col
        v-for="system in appStore.getSystemStates"
        :key="system.systemCd"
      >

        <v-card>
          <v-card-title>
            {{ system.systemLabel }}
            <v-icon v-if="system.status === 'up'" class="pl-2 mySuccessColor">mdi-check-circle-outline</v-icon>
            <v-icon v-else class="pl-2 myErrorColor">mdi-alpha-x-circle-outline</v-icon>
          </v-card-title>
          <v-card-subtitle class="">Endpoint: {{ system.endpoint }}</v-card-subtitle>
          <v-card-actions>
            <v-btn
              :disabled="true"
            >Configure</v-btn>
          </v-card-actions>
        </v-card>

      </v-col>
    </v-row>
<!--  </v-container>-->

</template>
