<script lang="ts" setup>

import {useRouter} from "vue-router";
import {nccn2019, nccn2023, useAppStore} from "@/store/appStore";

const router = useRouter()
const appStore = useAppStore()

const open = ['Populations']

const fhPopulation2018 = [
  {
    title: 'FH 2018',
    icon: 'mdi-account-group',
    to: '/evaluator',
  },
  {
    title: 'FH Rules',
    icon: 'mdi-arrow-decision-outline',
    to: '/evaluatorRules',
  },
]

const population2023 = [
  {
    title: 'HBOC 2023',
    icon: 'mdi-account-group',
    to: '/evaluator',
  },
  {
    title: 'HBOC Rules',
    icon: 'mdi-arrow-decision-outline',
    to: '/evaluatorRules',
  },
]

const population2019 = [
  {
    title: 'HBOC 2019',
    icon: 'mdi-account-group',
    to: '/evaluator',
  },
  {
    title: 'HBOC Rules',
    icon: 'mdi-arrow-decision-outline',
    to: '/evaluatorRules',
  },
]

const settings = [
  {
    title: 'Code Mappings',
    icon: 'mdi-hand-pointing-right',
    to: '/codeBrowser/ALL',
  },
  {
    title: 'Code Sets',
    icon: 'mdi-file-tree',
    to: '/codeSetBrowser/ALL',
  },
  {
    title: 'Importer',
    icon: 'mdi-upload-outline',
    to: '/terminologyLoader',
  },
]

</script>

<template>

      <v-list>

        <v-list-item
            prepend-icon="mdi-view-dashboard-outline"
            title="Dashboard"
            value="Dashboard"
            to="/dashboard"
        >
        </v-list-item>

        <v-list-group value="Evaluator">
          <template v-slot:activator="{ props }">
            <v-list-item
              v-bind="props"
              prepend-icon="mdi-chart-tree"
              title="Evaluator"
            ></v-list-item>
          </template>

          <v-list-item
              v-if="appStore.currentEvaluatorId === nccn2023"
              v-for="(pop, i) in population2023"
              :key="i"
              :title="pop.title"
              :prepend-icon="pop.icon"
              :value="pop.title"
              :to="pop.to"
          ></v-list-item>

          <v-list-item
              v-else-if="appStore.currentEvaluatorId === nccn2019"
              v-for="(pop, ii) in population2019"
              :key="ii"
              :title="pop.title"
              :prepend-icon="pop.icon"
              :value="pop.title"
              :to="pop.to"
          ></v-list-item>

          <v-list-item
              v-else
              v-for="(pop, iii) in fhPopulation2018"
              :key="iii"
              :title="pop.title"
              :prepend-icon="pop.icon"
              :value="pop.title"
              :to="pop.to"
          ></v-list-item>

        </v-list-group>

          <v-list-group value="Terminology">
            <template v-slot:activator="{ props }">
              <v-list-item
                v-bind="props"
                title="Terminology"
                prepend-icon="mdi-database-outline"
              ></v-list-item>
            </template>

            <v-list-item
              v-for="(setting, i) in settings"
              :key="i+100"
              :title="setting.title"
              :prepend-icon="setting.icon"
              :value="setting.title"
              :to="setting.to"
            ></v-list-item>
          </v-list-group>

      </v-list>

</template>
